%h1 Editing lex_publication

= render partial: 'lexicon/entries/tabs'

.tab-content
  .tab-pane.fade.show.active#properties
    = render 'form'
  = render partial: 'lexicon/entries/attachments', locals: { entry: @lex_publication.entry }
