.top-element
  .container-fluid
    .row
      .col-md-1
      .col-md-10#static_page
        %h1= @p.title
        - if @english
          %div{dir:'ltr',align:'left'}
            != @markdown
        - else
          != @markdown
      .col-md-1
