.top-element#content
  .container-fluid
    .row
      - if @p.ltr
        .col-12.col-lg-4
        .col-12.col-lg-8
          #static_page
            %div{dir:'ltr',align:'left'}
              != @markdown.gsub('<h2 ','<h2 style="direction:ltr;text-align:left" ').gsub('<h4 ','<h4 style="direction:ltr;text-align:left" ').gsub('<h3 ','<h3 style="direction:ltr;text-align:left" ')
      - else
        .col-12.col-lg-8
          #static_page
            != @markdown
        .col-12.col-lg-4
:javascript
  $(document).ready(function(){
    if($('.contact_btn').length > 0 ) {
      $('.contact_btn').click(function(e) {
        e.stopPropagation();
        e.preventDefault();
        $('#contactDlg').html("<h2>#{t(:loading) }</h2>");
        $('#contactDlg').load("#{ welcome_contact_path }");
        $('#contactDlg').modal('show');
      });
    }
  });