%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{ href: '#', data: { toggle: :tab, target: '#properties' } }= t('.properties')
  %li.nav-item
    %a.nav-link#attachments_tab{ href: '#', data: { toggle: :tab, target: '#attachments' } }= t('.attachments')
  %li.nav-item
    %a.nav-link#citations_tab{ href: '#', data: { toggle: :tab, target: '#citations' } }= t('.citations')
