- @lex_citations.group_by(&:subject).each do |subject, entries|
  %h4= subject
  %ul
    - entries.each do |c|
      %li
        = raw render_citation(c)
        = link_to t(:edit), nil, class: 'edit-citation', data: { id: c.id }
        = link_to t(:delete),
                  lexicon_citation_path(c),
                  remote: true, data: { confirm: t(:are_you_sure) }, method: :delete, class: 'delete-citation'

:javascript
  $('.edit-citation').click(function(e) {
    e.preventDefault();
    const citationId = $(this).data('id');
    openModal(`/lex/citations/${citationId}/edit`);
  });
