#content.container-fluid
  .row.anthology-page-content
    = render partial: 'anth_body'
:javascript
  $(document).ready(function() {
    // print button
    $('.printbutton').click(function() {
      window.open("#{@print_url}",'_blank');
    });
  });