- unless author.aboutnesses.empty?
  .by-card-v02.left-side-card-v02
    .by-card-header-left-v02
      %span.headline-1-v02= t(:works_about_this_author, gender_suffix: author.person&.gender == 'female' ? '/ת' : '')
    .by-card-content-v02
      %div
        %div
          %ul.ul-inside
            - author.aboutnesses.each do |ab|
              - m = ab.try(:work).try(:expressions).try(:[], 0).try(:manifestations).try(:[], 0) # TODO: handle multiple expressions/manifestations intelligently
              - next if m.nil?
              - if m.published? # Only show published works
                %li
                  = link_to ab.work.expressions[0].title, work_show_path(id: ab.work_id)
                  = ' / ' + m.authors_string
                  - if ab.work.expressions[0].translation
                    = ' / ' + m.translators_string
      -#.link-to-all-v02
      -#  %a.notyet
      -#    %span.linkcolor{:style => "font-weight: bold"}= t(:to_full_list)
      -#    %span.linkcolor.left-arrow 1
