:ruby
  top_level_by_role = top_nodes.select { |node| node.visible?(role, authority_id) }
                               .sort_by { |node| [node.item.uncollected? ? 1 : 0, node.item.created_at] }
- if top_level_by_role.present?
  %h3= title
  %ol
    = render partial: 'toc_node', collection: top_level_by_role, locals: { role: role, authority_id: authority_id, editable: editable }
