%li
  - if toc_node.is_a?(Manifestation)
    - if toc_node.published?
      = link_to toc_node.title, manifestation_path(toc_node)
    - else
      = toc_node.title
  - else
    -# Collection node
    - collection = toc_node.item
    = link_to collection.title, collection_path(collection)
    - children = toc_node.children_by_role(role, authority_id)
    - unless children.empty?
      %ol
        = render partial: 'toc_node', collection: children,
                 locals: { role: role, authority_id: authority_id }
