.modal-dialog
  .modal-content
    .container-fluid
      .modal-header
        .popup-top
          %div{:style => "display:flex;padding:15px;margin: 0"}
            .top-contact-side
              %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                .btn-text-v02
                  %span.right-arrow 2
                  %span= t(:back)
            .top-contact-center
              .headline-2-v02= t(:latest_uploads_for, author: @author.name)
            .top-contact-side
      .modal-body
        .by-popup-v02{style: 'max-height:calc(100vh - 260px);'}
          .by-card-header-v02.desktop-only
            %span.headline-1-v02= t(:latest_uploads_for, author: @author.name)
            %a.popup-x-v02.linkcolor.pointer{'data-dismiss'=>'modal'} -
          %div
            .card-with-button
              %p!= @pubs.map{|m| link_to(m.title_and_author_if_translation, manifestation_read_path(m.id))}.join('; ')

