%h3= t(:aboutnesses)
- if add
  %span.static-btn= link_to t(:perform_add), url_for(action: :add_aboutnesses, id: @m.id)
%ol#aboutness_list
  - @w.topics.each do |ab|
    %li
      != aboutness_html(ab, edit)
