/ TBD, TODO: implement
/                <div style="margin-top: 3rem;">
/                  <div class="headline-3" style="display: inline;">
/                    <a href="#" style="display: none">
/                      <span class="fa fa-angle-right baseline"></span>&nbsp&nbspלפרק הקודם</a>
/                  </div>
/                  <div class="float-left headline-3" style="display: inline;">
/                    <a href="#">לפרק הבא&nbsp&nbsp
/                      <span class="fa fa-angle-left baseline" style="padding-top: 0.4rem"></span>
/                    </a>
/                  </div>
/                </div>
