.by-card-v02.left-side-card-v02
  .by-card-header-left-v02
    %span.headline-1-v02= t(:works_about_this_work)
  .by-card-content-v02
    %div
      %div
        %ul.ul-inside
          - @works_about.each do |ab|
            - if ab.expressions[0].manifestations[0].published? # Only show published works # TODO: handle multiple expressions/manifestations intelligently
              - m = ab.expressions[0].manifestations[0]
              %li
                = link_to ab.expressions[0].title, work_show_path(id: ab.id)
                = ' / '+m.authors_string
                - if ab.expressions[0].translation
                  = ' / '+m.translators_string
