$('.bookmark_notification').css('position','fixed');
$('.bookmark_notification').css('top', '50%');
$('.bookmark_notification').css('left', '50%');
$('.bookmark_notification').css('background-color', '#430230' );
$('.bookmark_notification').html('<h2 style="color:white;"><%= t(:bookmark_placed) %></h2>').fadeOut(3000);