%div{style:'display: inline-block'}
  .card-header-element{style:'padding-left: 1rem'}
    .icons-raw
      .linky
        %i.fa.fa-download.download
    .icons-raw
      .linky
        %i.fa.fa-print.printbutton
    .icons-raw
      .linky
        %i.fa.fa-quote-right.citebutton
  .card-header-element
    = render 'shared/share_controls'
%div{style:'display: inline-block;width: 100%;'}
  %div{style:'position: relative;padding-top: 1.6rem'}
    .icon.result-links{style:'margin-top: 0.6rem'}
      = link_to '#' do
        %i.fa.fa-heart-o
    .icon.result-links{style:'margin-top: 0.6rem; margin-right: 2.4rem'}
      = link_to '#' do
        %span.icon-bybookshelf
    %div{style:'position: relative; float:right; display: inline;width: calc(100% - 8rem)'}
      = select_tag 'shelves', options_for_shelves.html_safe, {'class' => 'in_read'}
      %div
        %a.dropdown-arrow{style:'left:0'}
          %i.fa.fa-angle-down