/ by tag
#maincontainer.container-fluid.top-element
  %h2= t(:works_by_tag)+': '+@tag.name
  .row
    .col-sm-12
      / actual works
      %ol
        - @works_by_tag.each do |m|
          %li= link_to m.title_and_authors, manifestation_read_path(m.id)
!= paginate @works_by_tag