/ Main genre page
#maincontainer.container-fluid
  .row
    .col-sm-12
      %h1= t(:temporary_worklist)
      %h2= t(:improvements_soon)
      / actual works
      %ol
        - @manifestations.each do |m|
          %li= link_to m.title_and_authors, manifestation_path(m.id)
!= paginate @manifestations