/ Periods dashboard
= render partial: 'shared/breadcrumbs'
.container-fluid
  .row
    .col-md-12
      %h1= t(:not_implemented_yet)

/ =========================
:javascript
  $(document).ready(function(){
  });
