/ print mode.
.container-fluid.readmode-top-element
  = render partial: 'readmode_metadata'
  / TODO: more nuanced rendering here
  - if @m.as_prose?
    #actualtext.maintext-prose-body.search-margin
      != raw(@html)
  - else
    #actualtext.maintext-poetry-body.search-margin
      != raw(@html)

:javascript
  $(document).ready(function() {
    $(document).on('keyup',function(evt) {
      if (evt.keyCode == 27) {
        window.location.href = '#{url_for(action: :read, id: @m.id)}';
      }
    });
    window.print();
  });