/ print mode.
.print
  #content.container-fluid
    .row.text-page-content
      .col-12.col-lg-8
        .logo-for-print
          %img.logoBY-v02{:alt => t(:logo), :src => "/assets/logo-byp-mobile.svg", style: 'width:240px'}/
        .row
          .col{style:'display:none'}
          .col
            .by-card-v02.work-info-card
              %img.about-work-card-bookmark-fold-v02{:alt => "", :src => "/assets/creator-bookmark-back2.png"}/
              .about-work-author-card-v02
                %img.about-work-author-pic-v02{alt: @author.name, src: @author.profile_image.url(:thumb)}
              .by-card-content-v02
                = render partial: 'metadata', locals: {tags_etc: false}
            .by-card-v02
              .work-area
                .work-content
                  / TODO: more nuanced rendering here
                  - if @m.as_prose?
                    #actualtext.maintext-prose-body.search-margin
                      != raw(@html)
                  - else
                    #actualtext.maintext-poetry-body.search-margin
                      != raw(@html)

:javascript
  $(document).ready(function() {
    $(document).on('keyup',function(evt) {
      if (evt.keyCode == 27) {
        window.location.href = '#{url_for(action: :read, id: @m.id)}';
      }
    });
    window.print();
  });