/ standard display mode. "reading mode" to be implemented separately?
.container-fluid
  .row
    .col-sm-11
      %span{:class => 'work_title'}
        = @m.title + ' / ' + @m.author_string
      = ' | '
      = render partial: 'shared/copyright', locals: {manifestation: @m}
  %hr
  #maintext.maintext
    / TODO: more nuanced rendering here
    - if @m.as_prose?
      #actualtext.maintext-prose-body
        != raw(@html)
    - else
      #actualtext.maintext-poetry-body
  %hr

:javascript
  window.print();
