.container-fluid
  .row
    .col-lg-2
    .col-lg-8
      .container-fluid
        .row
          .col-md-12.main-group#works
            - cache (@anonymous ? "whatsnew_page" : 'whatsnew_nonanon'), expires_in: 2.hours do
              %p.headline-2-v02#new_works= t(:new_works_in_the_project)
              - @whatsnew.keys.sort_by{|x| x.sort_name}.each do |author|
                - works = @whatsnew[author]
                .by-card-v02
                  .by-card-header-v02
                    .whatsnew-text{style:'max-height:none'}
                      %p.headline-3-v02
                        = link_to author.name, authority_path(author)
                  .by-card-content-v02
                    %p
                      - worksbuf = ''
                      - works.each do |genre|
                        - next if genre[0] == :latest
                        %p
                          %b= t(genre[0])+': '
                          - worksbuf = genre[1].map{ |m| link_to(m.expression.title + (m.expression.translation ? ' / '+m.authors_string : ''), url_for(controller: :manifestation, action: :read, id: m.id))}
                          - worksbuf = worksbuf.join('; ')
                          != worksbuf
                  .whatsnew-pic-wide
                    %img{ alt: author.name, :class => 'img-responsive', src: author.profile_image.url(:tiny)}
    .col-lg-2
