.by-card-v02.left-side-card-v02
  .by-card-header-left-v02
    %p.headline-1-v02= t(:about_pby_title)
  .by-card-content-v02
    %p= t(:about_pby_text)
    .bottom-link-space
      .internal-link-to-all
        %a{:href => "/page/about"}
          %span{:style => "font-weight: bold"}= t(:about_pby_learn_more)
          %span.left-arrow 1
