.card
  .card-content
    = render partial: 'shared/author_cards', locals: {title: t(:most_popular_authors), authors: popular_authors, surprise: false, id_frag: 'pop'}
    = render partial: 'shared/author_cards', locals: {title: t(:random_authors), authors: random_authors, surprise: true, id_frag: 'random'}
    .float-left
      %a{style: 'color:white', href: url_for(controller: :authors)}
        .btn{style: 'padding-top:0.5rem'}
          %b= t(:to_all_authors)