.authors
  = render partial: 'shared/author_cards', locals: {title: t(:most_popular_authors_this_month), authors: popular_authors}
.authors
  = render partial: 'shared/author_cards', locals: {title: t(:random_authors), authors: random_authors}

