.by-card-v02.left-side-card-v02.donation-left-card-2
  .by-card-content-v02
    %p.headline-1-v02= t(:hate_ads)
    %p= t(:donate_sidebox_html)
    %a.donev#donev_sidebox{href: '/page/donate'}
      .button-to-full-v02
        %button.by-button-v02.by-button-secondary-v02
          %span.by-icon-v02> z
          = t(:donate_money)