:javascript
  var logged_in = #{current_user.nil? ? false : true};

  $(document).ready(function(){
    $(".increase_font").click(function() {
        set_fontsize_pref('3');
    });

    $(".default_font").click(function() {
      set_fontsize_pref('2');
    });

    $(".decrease_font").click(function() {
      set_fontsize_pref('1');
    });
    enact_font_size('#{@fontsize}'); // set initial font-size
  });
  function set_fontsize_pref(thepref) {
    enact_font_size(thepref); // first make it happen on-screen
    $.ajax({
      url: "#{preference_url(:fontsize)}",
      data: { value: thepref },
      method: 'PUT',
    });
  }
  function enact_font_size(size) {
    $('#smallfont').removeClass('fontsize-selector-current');
    $('#defaultfont').removeClass('fontsize-selector-current');
    $('#bigfont').removeClass('fontsize-selector-current');

    switch(size) {
      case '1': $("html").css("fontSize", "50%"); $('#smallfont').addClass('fontsize-selector-current'); break;
      case '2': $("html").css("fontSize", "62.5%"); $('#defaultfont').addClass('fontsize-selector-current'); break;
      case '3': $("html").css("fontSize", "80%"); $('#bigfont').addClass('fontsize-selector-current'); break;
    }
  }