- genres = get_genres.push('translations')
- first = true
.by-card-v02
  - genres.each do |g|
    - if genres_present.include?(g)
      %button{:class => 'side-menu-item' + (first ? ' current-menu-item' : ''), id: g+'_button'}
        .side-menu-icon= glyph_for_genre(g)
        .side-menu-name= textify_genre(g)
      - first = false
  - if curated_content
    .by-side-menu-seperator
    %button.side-menu-item.side-menu-edit.notyet{:href => "#"}
      .side-menu-icon Q
:javascript
  $(document).ready(function() {
    $('.side-menu-item').click(function() {
      $('.side-menu-item').removeClass('current-menu-item');
      $(this).addClass('current-menu-item');
      anchor = $(this).attr('id').replace('_button','_g');
      $('html, body').animate({
        scrollTop: $('a[name='+anchor+']').offset().top - 100
      }, 100);

    });
  });