- genres = get_genres.push('translations')
- first = true
%nav.navbar#genrenav
  %ul.navbar-nav.flex-column.by-card-v02#genre-nav{'aria-orientation' => 'vertical'}
    - genres.each do |g|
      - if genres_present.include?(g)
        %li.nav-item
          %a{'class' => 'nav-link '+(first ? 'active' : ''), id: g+'_button', href: "#works-#{g}", 'aria-controls' => "##{g}_g", 'aria-selected' => (first ? 'true' : 'false')}
            .side-menu-icon= glyph_for_genre(g)
            .side-menu-name= textify_genre(g)
        - first = false
    - if curated_content
      %li.by-side-menu-seperator
      %li.nav-item
        %button.nav-link.nav-link-edit.notyet{:href => "#"}
          .side-menu-icon Q
:javascript
  $(document).ready(function() {
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll <= 200) {
        $('.nav-link').first().addClass('active');
      }
    });
    //$('.nav-item').first().addClass('current-menu-item');
    $('.nav-link').click(function(e) {
      e.preventDefault();
      //$('.nav-item').removeClass('current-menu-item');
      //$(this).parent().addClass('current-menu-item');
      anchor = $(this).attr('id').replace('_button','_g');
      $('html, body').animate({
        scrollTop: $('a[name='+anchor+']').offset().top - $(header).height() - 65
      }, 800);
    });
  });