:javascript
  function highlight_in_red(buf) {
    return "<span style=\"color:red; font-size: 250%\">"+buf+"</span>";
  }
  jQuery(document).ready(function() {
    var element_id = "##{element_id}";
    if(element_id == '')
      element_id = '#markdown';
    $('#minuses_to_makafim').click(function(e) {
      e.preventDefault();
      var buf = $(element_id).val();
      replaced = 0;
      buf = buf.replace(/\S(-|‑)\S/g, function(occurrence){
        if((occurrence[0].match(/[A-Za-z]/i)) || (occurrence[2].match(/[A-Za-z]/i)) || occurrence[0] == '-' || occurrence[2] == '-' || (occurrence[0].match(/[0-9]/) && occurrence[2].match(/[0-9]/))) {
          return occurrence;
        } else {
          replaced += 1;
          return occurrence.replace('-','־').replace('‑','־');
        }
      });
      $(element_id).val(buf);
      alert('בוצעו '+replaced.toString()+' החלפות.');
    });
    $('#add_angled_brackets').click(function(e) {
      e.preventDefault();
      if($(element_id).selection() == '') {
        alert("#{t(:select_text_to_add_to)}");
      }
      else
      {
        var buf = $(element_id).selection();
        buf = buf.replace(/\n([^#])/g, "\n> $1");
        $(element_id).selection('replace', {text: buf});
      }
    });
    $('#remove_angled_brackets').click(function(e) {
      e.preventDefault();
      if($(element_id).selection() == '') {
        alert("#{t(:select_text_to_remove_from)}");
      }
      else
      {
        var buf = $(element_id).selection();
        buf = buf.split(/\n> */).join("\n");
        $(element_id).selection('replace', {text: buf});
      }
    });
    $('#add_stanza_break').click(function(e) {
      e.preventDefault();
      var $txt = jQuery(element_id);
      var scrollLeft = $txt[0].scrollLeft;
      var scrollTop  = $txt[0].scrollTop;
      var caretPos = $txt[0].selectionStart;
      var textAreaTxt = $txt.val();
      var txtToAdd = "\n>\n<br />\n>\n";
      $txt.val(textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos) );
      $txt.focus();
      $txt.caretTo(caretPos+txtToAdd.length);
      $txt[0].scrollTo(scrollLeft, scrollTop); // restore scroll position
    });
    // highlight suspicious angled brackets in rendered HTML
    $("#preview p:contains('> ')").each(function(){
      $(this).html(highlight_in_red($(this).html()));
    });
    $("#preview blockquote:contains('> ')").each(function(){
      $(this).html(highlight_in_red($(this).html()));
    });
    $('#tidy_footnote_dirs').click(function(e) {
      e.preventDefault();
      var buf = $(element_id).val();
      replaced = 0;
      buf = buf.replace(/(\[.*?]: )(.*)/g, function(occurrence, p1, p2){
        if(occurrence.match(/[\u0590-\u05FF]/)) {
          return occurrence;
        } else {
          if(occurrence.match(/dir="ltr"/)) {
            return occurrence;
          }
          replaced += 1;
          return p1 + '<div dir="ltr" align="left">' + p2 + '</div>';
        }
      });
      $(element_id).val(buf);
      alert('בוצעו '+replaced.toString()+' החלפות.');
    });

  });