:javascript
  $(document).ready(function() {
    $('.save_notes').click(function(e){
      e.stopPropagation();
      thebtn = $(this);
      ta = $($(this).parent().find('textarea')[0]);
      url = "#{publication_path('999')}".replace('999',ta.attr('id').replace('pubnotes_',''));
      tosave = ta.val();
      $.ajax({type: 'patch', url: url, data: {'publication': {'notes': tosave}}, dataType: 'JSON', success: function(){
        thebtn.text('נשמר!');
      }});
    });
    $('.create_task').click(function(e){
      e.stopPropagation();
      thebtn = $(this);
      pubid = $(this).attr('id').replace('scn_','');
      url = "#{bib_make_scanning_task_path(id: '999')}".replace('999',pubid);
      $(this).prop('disabled', true);
      $.ajax({type: 'get', url: url, context: this, success: function(response, status){
        $('#p_'+pubid+'_actions').val('scanned');
        $(this).parent().append('<a href="'+response+'">#{t(:to_the_task)}</a>');
        $(this).hide();
        console.log(response);
      }});
    });
  });