- if local_assigns.has_key?(:element) && local_assigns[:element] == :button
  %button.toolbox-cell.darkoldpink.share
    %i.fa.fa-share-alt
    %span.tooltiptext= t(:share)
- elsif local_assigns.has_key?(:element) && local_assigns[:element] == :header_button
  .icon-in-group-v02.pointer{'data-toggle' => 'modal', 'data-target' => '#shareDlg'}
    %span.by-icon-v02{style:'color: #660248'} U
- elsif local_assigns.has_key?(:element) && local_assigns[:element] == :mobile_button
  %a.dropdown-item.linkcolor{style: 'color: #660248;', 'data-toggle' => 'modal', 'data-target' => '#shareDlg'}
    .share{style:'cursor:pointer'}
      %span.by-icon-v02.iconNearText-v02 U
      = t(:share)
- elsif local_assigns.has_key?(:element) && local_assigns[:element] == :link
  .pointer.share{style:'display:inline', 'data-toggle' => 'modal', 'data-target' => '#shareDlg'}
    %i.fa.fa-share-alt.fa08
    = t(:share)
- elsif local_assigns.has_key?(:element) && local_assigns[:element] == :footer
  .pointer.by-footer-nav-item-v02.share{style:'display:inline;color:white', 'data-toggle' => 'modal', 'data-target' => '#shareDlg'}
    %span.by-icon-v02.footer-nav-icon-v02 U
    = t(:share)
