.surprise-again-footer-v02
  .surprise-again-btn-area-v02
    %button.surprise-again-btn-v02#work-surprise-me-again
      %span.right-side-icon= "'"
      = t(:surprise_me_again)
:javascript
  $(document).ready(function() {
    $('#work-surprise-me-again').click(function(){
      $('#work-surprise-scroller').slick('slickNext');
    });
  });
