- manifestation.external_links.order('linktype').each do |link|
  - case link.linktype
  - when Manifestation.link_types[:youtube]
    %span{:class => 'glyphicon glyphicon-film'}
  - when Manifestation.link_types[:wikipedia]
    %span{:class => 'icon-wikipedia-w'}
  - when Manifestation.link_types[:blog]
    %span{:class => 'icon-wordpress'}
  = ' '
  = link_to t(Manifestation.link_types.keys[link.linktype]), link.url
