- if links.count > 1
  / collapsible
- else
  = link_to links[0].url do
    .icon.card-header-element
      - case linktype
      - when ExternalLink.linktypes[:youtube]
        %i.fa.fa-youtube-play
      - when ExternalLink.linktypes[:blog]
        %i.fa.fa-pencil-square-o
    .card-header-element{style:'margin-left: 2.4rem'}
      %p= links[0].description
