%html
  :javascript
    function hndlr(response) {
      for (var i = 0; i < response.items.length; i++) {
        var item = response.items[i];
        document.getElementById('srcontent').innerHTML += '<p style="margin-top:1rem"><a style="color: #910065;text-decoration: none" href="' +item.link+'">'+item.htmlTitle+'</a><br/><br/>'+item.htmlSnippet+'</p>';
      }
    }
  %body
    %div#srcontent
      != "<script src='https://www.googleapis.com/customsearch/v1?key=#{AppConstants.google_api_key}&cx=#{AppConstants.google_cse_cx}&q=#{URI.escape(params[:q])}&callback=hndlr'></script>"
