.by-dual-popup.thanks-popup
  %div
    .by-card-content-v02.card-with-button{:style => "padding-top: 0"}
      .no-header
      %p= t(:contact_thanks_p1)
      %p= t(:contact_thanks_p2)
      %button.by-button-v02.button-to-full-v02{'data-dismiss'=>'modal'}= t(:close_and_return_to_page)
