.row
  .col-xs-12
    .card.full-size-card.flashlight-card
      .card-content
        %h3= 'אלף לילה ולילה' # TODO: unhardcode
        %p= 'מעשיות אלף לילה ולילה זכו לאינספור עיבודים והדהודים מאז החלו לספרן.  יוסף יואל ריבלין תרגם את המעשיות מן הערבית, והעשיר את התרבות העברית באגדות הקאלסיות הללו.  קראו על אלאדין, על שחרזאדה, על הרון אל רשיד, ועוד.' # hardcoded
.float-left
  %a{href: 'http://benyehuda.org/blog/'}= t(:more_recommendations_in_the_blog)