.row
  .col-xs-12
    .card.full-size-card.footer-card
      .card-content
        %p= link_to t(:join_volunteer), '/page/volunteer'
        %p= link_to t(:donate_money), '/page/donate'
        .more-space
        .more-bottom
          .more-actions
            .welcome-icon
              %a{href: '#'}
                %i.fa.fa-info-circle
            .welcome-icon
              %a{href: '#'}
                %i.fa.fa-question-circle
            .welcome-icon
              %a{href: '#'}
                %i.fa.fa-edit
            .welcome-icon
              %a{href: '#'}
                %i.fa.fa-youtube-square
            .welcome-icon
              %a{href: '#'}
                %i.fa.fa-facebook-square
            .welcome-icon
              %a{href: '#'}
                %i.fa.fa-share-alt
            .welcome-icon
              %a{href: '#'}
                %i.icon-bydonate