- cache 'top_authors', expires_in: 24.hours do
  .row
    .col-xs-12
      .card.full-size-card.footer-card#top_authors
        .card-content
          %ol
            - @pop_authors_this_month.each do |author|
              %li= link_to author.name, person_path(author)