.card.row1{style: 'padding-top:1rem'}
  - boxen = 0
  - break_workaround = false
  - @whatsnew.each do |author, works|
    - unless break_workaround
      .container-fluid
        .row
          .col-xs-12
            .card.whatsnew-author-card-wide
              .whatsnew-text
                %p.headline-3
                  = link_to author.name, author_toc_path(author)
                %p
                  - worksbuf = textify_new_pubs(works)
                  != worksbuf
              .whatsnew-pic-wide
                %img{ alt: author.name, :class => 'img-responsive', src: author.profile_image.url(:tiny)}
        - boxen += 1
        - if boxen > 4
          .row
            .card-content.float-left{style: 'padding-top:0;padding-bottom:0;margin-top:1.5rem;'}
              /%a{style: 'color:white', href: url_for(:controller => :manifestation, :action => :whatsnew)}
              %a{style: 'color:white', href: whatsnew_path}
                .btn{style: 'padding-top:0.5rem'}
                  %b= t(:to_all_whatsnew)
            - break_workaround = true
