.works
  - [1,2,3].each do |row|
    .genre-card{style: 'clear: both'}
      - get_genres_by_row(row).each do |genre|
        %a{ href: manifestation_genre_path(genre: genre)}
          .genre-card-content
            .genre-icon
              %span{:class => "icon-by#{genre}"}
              %h3{style: 'text-align: center'}= t(genre)
            - if genre == 'lexicon' # special case re count
              %span{style: 'text-align: center'}= @totals[:headwords].to_s+' '+t(:entries)
            - else
              %span{style: 'text-align: center'}= @works_by_genre[genre].to_s+' '+t(:works)
