/*toolbox white - start*/
#toolbox {
  width:9rem;
    float: right;
    position: absolute;
    z-index: 1;
}

.toolbox-cell {
    width: 10rem;
    height: 6rem;
   background-color: #fff;
    text-align: center;
    font-size: 2.4rem;
  	display: table-cell;
    vertical-align: middle;
  	border: none;
	position: relative;
}
.mistake{
	height: 11rem;
	border-top: solid 2px #eeeced;
	border-bottom: solid 2px #eeeced;
}
.toolbox-cell .mistake{
	 color: #660248;
}
.btn-group-vertical {
    position: relative;
    display: inline-block;
	  background-color: #fff;
	padding-top: 0.6rem;
	  border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
}

.toolbox-cell:hover{
	color: #660248;
	background-color: #eeeced;
}
.toolbox-cell .tooltiptext {
    visibility: hidden;
    width: 10rem;
    color: #660248;
    text-align: center;
	font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: 50%;
    margin-left: -5rem;
    opacity: 1;
	line-height: 1.4rem;
}

.toolbox-cell:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.toolbox-footer-chevron {
  float:left;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.toolbox-footer{
	height: 2.4rem;
  font-size: 1.8rem;
	padding: 0 0.6rem;
	border-top: 2px solid #eeeced;
	  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.toolbox-footer:hover{
	background-color: #eeeced;
    color: #56003D;
}

.toolbox-footer .tooltiptext{
	visibility: hidden;
	font-size: 1.2rem;
	margin-bottom: 0.2rem;
}
.toolbox-footer:hover .tooltiptext{
	visibility: visible;
	opacity: 1;
	color: #56003D;
}

.toolbox-cell .foundmistake {
    visibility: visible;
	color: #660248;
    width: 10rem;
    text-align: center;
	font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -5rem;
    opacity: 1;
}
.toolbox-cell .foundmistake::after {
	content: "";
    position: absolute;
    top: 0%;
    left: -14%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent #d9cdd5 transparent transparent;
}

.toolbox-cell:hover .foundmistake::after {
	content: "";
    position: absolute;
    top: 0%;
    left: -14%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent #d9cdd5 transparent transparent;
}
/*toolbox white - end*/
