# Enter your per-environment constants below

development: &default
  base_dir:  "/home/me/my_dev_data"
  populate_exclude: "w3c;img;stats"
  no_nikkud_insert: '/home/me/my_dev_data/no_nikkud_insert.txt' 

production:
  <<: *default
  base_dir:  "/var/www/my_actual_static_files_dir"
  
test:
  <<: *default
