<h1>File: <%= @text.path.sub('/mnt/by/','') %></h1>

<h2>Parsing Results</h2>

<p>In the future, this would contain error or comments about the parsing process.  For now, if you see this, the parsing _did_ succeed, for some definition of "succeed"... :)</p>

You can proceed straight to <%= link_to 'Render!', :action => :render_html, :id => @text %>

Or <%= link_to 'Back', :action => :list %> to the conversion dashboard.
