<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery(".markdown").hide();
  //toggle the componenet with class msg_body
  jQuery(".heading").click(function()
  {
    jQuery(this).next(".markdown").slideToggle(500);
  });
});
</script>


<h1>File: <%= @text.path.sub('/mnt/by/','') %></h1>

<h2>Rendering MultiMarkDown as HTML</h2>

<%= raw(@html) %>

<p class="heading">Here's the raw MultiMarkDown, in case you care.</p>

<div class="markdown"><%= @markdown %></div

<p>You can [do something about it]...</p>

<p>Or <%= link_to 'Back', :action => :list %> to the conversion dashboard.</p>
