/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery-ui
 *= require BY_styles_General.css
 *= require BY_styles_Max1279.css
 *= require BY_styles_Max991.css
 *= require BY_styles_Max767.css
 *= require BY_styles_Max639.css
 *= require BY_styles_Max479.css
 *= require BY_styles_Max399.css
 *= require_tree .
 *= require_self
*/
/*
*= require slick
*/
/*body{font-size:14px;} /* default */
/* temporary fix */
.credits{
  -webkit-column-count: unset; /* Chrome, Safari, Opera */
  -moz-column-count: unset; /* Firefox */
  column-count: unset;
}

.credits ul{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(15, 3fr);
  margin-bottom: 25px;
}
.credits ul li {
  margin: 5px;
  margin-left: 25px;

}
#chapters {
  width: -webkit-fill-available;
  width: -moz-available;
}
.anthology-badge{
  cursor: pointer;
}
input[type=checkbox].multiselect_checkbox {
  margin-left: 20px;
}

.multiselect ol > li:before {
	content:'';
	position:absolute;
	top:0px;
	right:-44px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:44px;
}

.author-name-v02 {
  color:white;
}
.topMenuItem-v02 {
  color: #660248;
}
.topMenuItem-v02:hover {
  cursor: pointer;
}
.whitehover:hover{
  color:white;
}
#curated_preview ul {
  list-style-type: unset;
}
.a-b-pagination-frame span{
	flex-grow: 1;
	font-size: 12pt;
	text-align: center;
	line-height: 20px;
  padding: 0 3px;
  color: grey;
  cursor:default;
}
.a-b-pagination-frame span.active{
	color: #fff;
	background-color: #660248;
}
/* temporary workaround by Asaf for dict_top metadata */
.texts-list-top-info-card {
  flex-wrap: wrap;
}
.footnote_ref {
  vertical-align: super;
  font-size: 75%;
}
.footnote_num {
  vertical-align: super;
  font-size: 75%;
}
.BYD-entry-top {
  flex-wrap: wrap;
}
.source {
  font-weight: bolder;
  /* vertical-align: sub; */
  font-size: 70%;
}
.comment {
  color:   #64150f;
}

.red {
  color: red;
}
.redbg {
  background-color: red !important;
}
.lredbg {
  background-color: lightcoral !important;
}
.green {
  color: green;
}
.greenbg {
  background-color: green !important;
}
.lgreenbg {
  background-color: lightgreen !important;
}
.yellowbg {
  background-color: yellow !important;
}
/* end dict_top workarounds */
.navdisabled {
  color: #d9cdd5;
  cursor: default;
}
.sort-type .vertical-expand::before {
  content: "]";
}
.collapsed.vertical-expand::before {
  content: "<";
}
#anth_texts .collapsed.vertical-expand::before {
  content: "<";
}
#anth_texts .vertical-expand::before {
  content: "]";
}
.advanced-pagination {
  width: calc(100% - 150px);
}

.dashboard-link {
  /*  position:absolute; display:inline; top:11rem; left: 10rem;*/
    line-height: unset;
    float:left;
    margin-top: -1rem;
  }

/* pagination links */
.page {
  padding: 3px;
}
.next { padding: 3px;}
.last { padding: 3px;}
.prev { padding: 3px;}
.first { padding: 3px;}

.dropdown-menu {
  font-size: initial; /* override Bootstrap's default */
}
body {
  overflow-x: hidden; /* prevent horizontal scrollbar (caused by Slick's carousel track having a virtual width of 50000) */
}

.scrolled .top-element {
  margin-top: 93px;
}

header {overflow-x: hidden;} /* prevent horizontal scrollbar (caused by Slick's carousel track having a virtual width of 50000) */
.share {cursor: pointer;}
.pointer {cursor: pointer;}
.linkcolor{color: #660248;}
.linkcolor.active {color: #fff;}
.linkcolor:hover{  color: #2b0d22;}
.white {color:white;}
.current-menu-item a{
	color: #ffffff;
	background-color: #660248;
}
.error-found-row{
  height: 1px;
}
#add-rec-form{
  display:none;
}
.error-found-col{
  height: min-content;
  width:min-content;
}
.modal-content{
  background-color: transparent;
}
#header-general{
  z-index: 2000;
}
.by-dropdown-content-v02 p {
  padding: 6px 15px;
  margin: 0;
  display: block;
  color: #660248; }

.by-dropdown-content-v02 p:hover {
  background-color: #eeeced;
  color: #2b0d22; }

#moreMobile {
  cursor: pointer;
}
.work-chapters-dropdown-field-desktop {
  cursor: pointer;
}
.modal-dialog{max-width: unset;}
.modal-content { border: 0;}
.modal-header{border:0;}
.modal-footer{border:0;}

.a-b-pagination-frame .in-range-disabled{
  background-color: #d9cdd5;
	color: white;
}

.dropdown-toggle{
  -webkit-appearance: none;
}
.dropdown .dropdown-toggle::after{
  display:none;
}
.g_anch { /* for anchors that can be jumped to despite the fixed top bar */
  /*
  position:absolute;
  top:-200px;
  */
  height: 2px;
}
#chapternav{ width: min-content;}
#chapter-nav{
  max-height: 400px;
  overflow-y: auto;
}
.side-nav-col { pointer-events: none;}
.side-nav-col nav { pointer-events: auto;}
@media screen and (max-width: 767px) {
  .popup-top { position:static; }
  .by-popup-v02 { position: static; }
  .modal-dialog {height: 100%;}
  .modal-content {height: 100%;}
  #chapter-nav{
    max-height: 300px;
  }
  #static_page img {
    width: 100%;
    object-fit: cover;
  }

}
@media screen and (max-width: 991px) {
  #moreMobile .dropdown-menu{ transform: translate3d(5px, 42px, 0px) !important;}
  #moreMobile-author .dropdown-menu{ transform: translate3d(5px, 72px, 0px) !important;}
}
@media screen and (max-width: 399px) {
  #moreMobile .dropdown-menu{ transform: translate3d(5px, 28px, 0px) !important;}
  #moreMobile-author .dropdown-menu{ transform: translate3d(5px, 28px, 0px) !important;}
  #static_page img {
    width: 100%;
    object-fit: cover;
  }
}
/* .top-search-v02 input { width: auto;}*/
.ch_anch { height: 2px;}
.tooltip{ pointer-events:none; }
.by-dropdown-header-v02 { cursor: default;}
.search_results { font-size: 13pt; line-height: 1.2rem; }
.search_results li { margin-top: 0.8rem;}
.progress-outside .progress-inside{
  width:0%;
}
.progress-outside{
	width: calc(100% - 35px);
}

.backend input {
  border: solid 1px;
  width: unset;
}

.striped {
  background-image: linear-gradient(135deg, #dbb59b 25%, #5F5370 25%, #5F5370 50%, #dbb59b 50%, #dbb59b 75%, #5F5370 75%, #5F5370 100%);
  background-size: 56.57px 56.57px;
}
/* temporary fix for dropping below the carousel in Chrome
.carousel-arrow-left-v02{
  width: unset;
}
*/

.backend #genre{
  min-height: unset;
  height: unset;
}

/* stuff for jQuery sortable */
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  left: 0px;
  opacity: 0.5;
  z-index: 2000;
}
/*
ol#anth_texts li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
ol#anth_texts li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-right-color: red;
  border-left: none;
}*/
.nav-link.active{
	color: #ffffff;
	background-color: #660248;
}
.nav-link{
  align-items: normal;
}
/*.custom-select{
  display:none;
}*/
/** .slider-handle {
  background-color: #907989;
  background-image: unset;
} */
/* .slider-selection {
	background: #907989;
}*/

.languages-filters{
	padding-right: 24px;
}
/* remove all default styling of buttons */
button.plainbutton {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button.chapterbutton {
  font-family: 'ben-yehuda';
  width: 100%;
  background-color: inherit;
}
input[type="search"]::-webkit-search-cancel-button {
  margin-left: 30px;
}

.bookmark::before{
content: unset;
}
.bookmark_marker{
	font-family: ben-yehuda;
	font-size: 18px; 
	line-height: 18px;
	float: left;
	position: relative;
  left: -26px;
  cursor: pointer;
}

.admin_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.admin_dashboard_item{
  padding: 10px;
  background-color: #eeeced;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

body.modal-open{
  padding-right: 0 !important;
  overflow-y:scroll;
}

.modal{
  padding-right: 0 !important;
}
.error, .notice, .success, .alert {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.flex-row {
  display: flex;
  /* flex: 1 0 100%; */
}
.flex-col{
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 0;
}
.flex-break {
  flex-basis: 100%;
}
.ui-menu.ui-autocomplete.ui-front {
  z-index: 1100;
}

.ui-state-default{
	color: #fff;
	background-color: #660248;
}
.ui-state-active{
	color: #fff;
	background-color: #660248 !important;
}
.tag-suggestion-heuristic {
  font-size: 0.8rem;
  color: #999;
}

.scrolling-200-list {
  overflow-y: scroll;
  max-height: 200px; 
}

.indented {
  margin-right: 15px !important;
}

.tags a {
  color: #fff;
}
.tags.pending a {
	color: #660248;
}
.pad10rl {
  padding: 0 5px 0 5px;
}

.by-button-v02 a:hover {
  color: #ffffff;
}
.flash-backend {
  position: fixed;
  z-index: 9000;
}
.additional_actions_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tagging-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal-buttonset {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  gap: 10px;
  margin-bottom: 10px;
}

#pending-tag {
  min-width: 350px;
}
td.label-name{
	white-space: unset;
  min-width: 200px;
}
.tagging-management-area {
  width: unset;
}

small p{
  font-size: 80% !important;
}


@charset "UTF-8";

@font-face {
  font-family: "ben-yehuda";
  src:font-url("ben-yehuda2.eot");
  src:font-url("ben-yehuda2.eot?#iefix") format("embedded-opentype"),
    font-url("ben-yehuda2.woff") format("woff"),
    font-url("ben-yehuda2.ttf") format("truetype"),
    font-url("ben-yehuda2.svg#ben-yehuda") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ben-yehuda" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ben-yehuda" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-byerror-found:before {
  content: "\67";
}
.icon-byfigure-outline:before {
  content: "\68";
}
.icon-byfigure-outline-cut:before {
  content: "\69";
}
.icon-bycc-pd:before {
  content: "\6d";
}
.icon-bycco:before {
  content: "\75";
}
.icon-bycopyright:before {
  content: "\78";
}
.icon-bycreative-commons:before {
  content: "\79";
}
.icon-bypublic-domain:before {
  content: "\41";
}
.icon-byopen-book:before {
  content: "\42";
}
.icon-bybookshelf:before {
  content: "\44";
}
.icon-bytranslate:before {
  content: "\73";
}
.icon-byallworks:before {
  content: "\47";
}
.icon-byallwriters:before {
  content: "\48";
}
.icon-byarticle:before {
  content: "\61";
}
.icon-bydrama:before {
  content: "\6b";
}
.icon-byfables-fox:before {
  content: "\45";
}
.icon-byletters:before {
  content: "\77";
}
.icon-bylexicon:before {
  content: "\66";
}
.icon-bymemoir:before {
  content: "\6a";
}
.icon-bypoetry:before {
  content: "\74";
}
.icon-byprose:before {
  content: "\6c";
}
.icon-byreference:before {
  content: "\76";
}
.icon-bysurprise-author:before {
  content: "\72";
}
.icon-bysurprise-work:before {
  content: "\71";
}
.icon-bybookmark:before {
  content: "\43";
}
.icon-bybookmark-add:before {
  content: "\62";
}
.icon-bybookmark-delete:before {
  content: "\63";
}
.icon-bybookmark-go-to:before {
  content: "\64";
}
.icon-bybookmark-move:before {
  content: "\65";
}
.icon-bybookmark-empty:before {
  content: "\46";
}
.icon-bywork:before {
  content: "\49";
}
.icon-bybook:before {
  content: "\4a";
}
.icon-byread:before {
  content: "\4b";
}
.icon-byread-future:before {
  content: "\6e";
}
.icon-byread-past:before {
  content: "\6f";
}
.icon-byread-present:before {
  content: "\70";
}
.icon-byauthor-info:before {
  content: "\4d";
}
.icon-bydonate:before {
  content: "\7a";
}
.icon-byaccess:before {
  content: "\4c";
}
.icon-bybullhorn:before {
  content: "\4f";
}
.icon-bycallendar:before {
  content: "\50";
}
.icon-bylist:before {
  content: "\54";
}
.icon-byvolunteer:before {
  content: "\56";
}
.icon-bymore:before {
  content: "\59";
}
.icon-bytop-ten:before {
  content: "\4e";
}
.icon-byarrow-left:before {
  content: "\31";
}
.icon-byarrow-right:before {
  content: "\32";
}
.icon-byheart-empty:before {
  content: "\35";
}
.icon-bypushpin-empty:before {
  content: "\37";
}
.icon-bysearch:before {
  content: "\58";
}
.icon-bystar-empty:before {
  content: "\21";
}
.icon-byedit:before {
  content: "\51";
}
.icon-byenvelope:before {
  content: "\52";
}
.icon-byfacebook:before {
  content: "\53";
}
.icon-byshare:before {
  content: "\55";
}
.icon-byyoutube:before {
  content: "\57";
}
.icon-bydownload:before {
  content: "\33";
}
.icon-byflag-empty:before {
  content: "\34";
}
.icon-byprint:before {
  content: "\39";
}
.icon-bydrop-down-arrow:before {
  content: "\23";
}
.icon-byflag-full:before {
  content: "\24";
}
.icon-bylink:before {
  content: "\25";
}
.icon-byagain:before {
  content: "\27";
}
.icon-byadd:before {
  content: "\26";
}
.icon-byarrow-down:before {
  content: "\28";
}
.icon-byarrow-up:before {
  content: "\29";
}
.icon-byquote:before {
  content: "\2a";
}
.icon-website:before {
  content: "\2b";
}
.icon-byheart-full:before {
  content: "\36";
}
.icon-bypushpin-full:before {
  content: "\38";
}
.icon-bystar-full:before {
  content: "\22";
}
.icon-byhamburger:before {
  content: "\2c";
}
.icon-byclose:before {
  content: "\2d";
}
.icon-bysettings:before {
  content: "\3a";
}
.icon-bytwitter:before {
  content: "\3b";
}
.icon-bywhatsapp:before {
  content: "\3e";
}
.icon-bycollapse:before {
  content: "\2e";
}
.icon-byexpand:before {
  content: "\2f";
}
.icon-bythank-you:before {
  content: "\3d";
}
.icon-byblog:before {
  content: "\7e";
}
.icon-byarrow-down-double:before {
  content: "\3c";
}
.icon-byarrow-left-double:before {
  content: "\3f";
}
.icon-byarrow-right-copy:before {
  content: "\40";
}
.icon-byarrow-up-double:before {
  content: "\5b";
}
.icon-bycopy:before {
  content: "\5d";
}
.icon-bydelete:before {
  content: "\5e";
}
.icon-bymarkdown:before {
  content: "\5f";
}
.icon-bysave:before {
  content: "\60";
}
.icon-byuser:before {
  content: "\7b";
}
.icon-byuser-area:before {
  content: "\7c";
}
.icon-bylogout-2:before {
  content: "\5a";
}
.icon-byarrow-left-end:before {
  content: "\30";
}
.icon-byarrow-right-end:before {
  content: "\7d";
}
.icon-bymulti-select:before {
  content: "\5c";
}
.icon-bysort-down:before {
  content: "\e000";
}
.icon-bysort-up:before {
  content: "\e001";
}
.icon-bywarning:before {
  content: "\e002";
}
.icon-byadditionals:before {
  content: "\e003";
}


.button_series {
  display: flex;
}
.collection_action_btns {
  display: flex;
  flex-direction: row;
}

.watermark {
    /* Used to position the watermark */
    position: relative;
}

.watermark__inner {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;
}

.watermark__body {
    /* Text color */
    color: rgba(0, 0, 0, 0.2);

    /* Text styles */
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;

    /* Rotate the text */
    transform: rotate(-45deg);

    /* Disable the selection */
    user-select: none;
}

.draggable-content {
  margin-right: 15px;
}

.print .col-12{
	padding-right: 0px;
	padding-left: 0px;
}

.ingestible_edit input {
  background-color: #e0e0e0;
}

.collection_toc {
  font-size: 130%;
  line-height: 1.2;
}

.mainlist .toclist {
  list-style-type:none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ingestible_toc_table tr {
  border-bottom: 1px solid #ccc;

}

.make-volume{
  cursor: pointer;
}

.collection_draggable_item {
  scroll-margin-top: 15px;
}
.footnotes ol {
  list-style-type: decimal;
  padding-right: 2.5em;
  margin-right: 0; /* Reset browser default margin-right for proper RTL list rendering */
}
.footnotes ol li {
  list-style-position: inside; /* for some reason 'outside' doesn't work in Safari in RTL context */
  display: list-item; 
  scroll-margin-top: 175px;
  /* Safari-specific fix for RTL list markers */
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
}
.footnote {
  scroll-margin-top: 210px;
}
#actualtext .footnote{
	font-size: 11pt;
}
.work-content{
  scroll-snap-type: y mandatory;
}

.hidden {
  display: none;
}

.manifestation-node{
  list-style: none;
}

#buffer_preview{
  min-height: 600px;
  max-height: 800px;
}

#actualtext img {
  max-width: 100%;
}

.unpublished {
  background-color: yellow;
}

.unpublished_badge {
  background:darkred;	
  white-space:nowrap;
  position: absolute;
  left: 0;
  padding: 5px;
  min-width: 300px;
  transform: rotate(-45deg) translate(-37%, 0);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  top: -20px;
  box-sizing: border-box;
}

.origlang_details {
  margin-top: -5px;
  font-size: 80%;
}

.editable_edit input {
  margin-right: 50px;
}
.editable_edit label {
  margin-top: 20px;
  font-weight: bold;
}