/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery-ui
 *= require font-awesome
 *= require_tree .
*/
/*
*= require slick
*/
/*body{font-size:14px;} /* default */

/* @import 'BY_styles.css'; */

.padbot12 {
  padding-bottom: 12px;
}

.scrolled .top-element{
  margin-top: 80px; /* just an example -- Asaf */
}
.author-name-v02 {
  color:white;
}
.topMenuItem-v02 {
  color: #660248;
}
.topMenuItem-v02:hover {
  background-color: #C6B8C2;
  cursor: pointer;
}

.dashboard-link {
  /*  position:absolute; display:inline; top:11rem; left: 10rem;*/
    float:left;
    margin-top:-4rem;
  }
