/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery-ui
 *= require BY_styles_General.css
 *= require BY_styles_Max1279.css
 *= require BY_styles_Max991.css
 *= require BY_styles_Max767.css
 *= require BY_styles_Max639.css
 *= require BY_styles_Max479.css
 *= require BY_styles_Max399.css
 *= require_tree .
 *= require_self
*/
/*
*= require slick
*/
/*body{font-size:14px;} /* default */

.padbot12 {
  padding-bottom: 12px;
}

/* .scrolled .top-element{
  margin-top: 80px; /* just an example -- Asaf */
/* } */
.author-name-v02 {
  color:white;
}
.topMenuItem-v02 {
  color: #660248;
}
.topMenuItem-v02:hover {
  background-color: #C6B8C2;
  cursor: pointer;
}

.dashboard-link {
  /*  position:absolute; display:inline; top:11rem; left: 10rem;*/
    float:left;
    margin-top: -1rem;
  }

/* pagination links */
.page {
  padding: 3px;
}
.next { padding: 3px;}
.last { padding: 3px;}
.prev { padding: 3px;}
.first { padding: 3px;}

.dropdown-menu {
  font-size: initial; /* override Bootstrap's default */
}
body {
  overflow-x: hidden; /* prevent horizontal scrollbar (caused by Slick's carousel track having a virtual width of 50000) */
}

.scrolled .top-element {
  margin-top: 93px;
}
.author-page-top{
  /* position:fixed;
  top:44px;*/
}
header {overflow-x: hidden;} /* prevent horizontal scrollbar (caused by Slick's carousel track having a virtual width of 50000) */
.share {cursor: pointer;}
.pointer {cursor: pointer;}
.linkcolor{color: #660248;}
.linkcolor.active {color: #fff;}
.linkcolor:hover{  color: #2b0d22;}
.white {color:white;}
.current-menu-item a{
	color: #ffffff;
	background-color: #660248;
}
.error-found-row{
  height: 1px;
}
#add-tag-form{
  display:none;
}
#add-rec-form{
  display:none;
}
.error-found-col{
  height: min-content;
  width:min-content;
}
.modal-content{
  background-color: transparent;
}
#header-general{
  z-index: 2000;
}
.by-dropdown-content-v02 p {
  padding: 6px 15px;
  margin: 0;
  display: block;
  color: #660248; }

.by-dropdown-content-v02 p:hover {
  background-color: #eeeced;
  color: #2b0d22; }

.reading-mode-btn-v02 {
  padding-top: 3px;
  display: inline-block;
}

#moreMobile {
  cursor: pointer;
}
.work-chapters-dropdown-field-desktop {
  cursor: pointer;
}
.modal-content { border: 0;}
.modal-header{border:0;}
.modal-footer{border:0;}
.by-popup-v02{
  margin-top:0;
  overflow-y: scroll;
  width: 100% !important;
}

.dropdown-toggle{
  -webkit-appearance: none;
}
.dropdown .dropdown-toggle::after{
  display:none;
}

#chapter_dropdown_content {
  overflow-y: auto;
  /* max-height: 600px; */
  max-height: calc(100vh - 100px);
}
#chapternav{ width: min-content;}
#chapter-nav{
  max-height: 400px;
  overflow-y: auto;
}
.side-nav-col { pointer-events: none;}
.side-nav-col nav { pointer-events: auto;}
@media screen and (max-width: 767px) {
  .popup-top { position:static; }
  .by-popup-v02 { position: static; }
  .modal-dialog {height: 100%;}
  .modal-content {height: 100%;}
  #chapter-nav{
    max-height: 300px;
  }
}
@media screen and (max-width: 991px) {
  #moreMobile .dropdown-menu{ transform: translate3d(5px, 42px, 0px) !important;}
  #moreMobile-author .dropdown-menu{ transform: translate3d(5px, 72px, 0px) !important;}
}
@media screen and (max-width: 399px) {
  #moreMobile .dropdown-menu{ transform: translate3d(5px, 28px, 0px) !important;}
  #moreMobile-author .dropdown-menu{ transform: translate3d(5px, 28px, 0px) !important;}
}
/* .top-search-v02 input { width: auto;}*/

.ch_anch { height: 2px;}
.tooltip{ pointer-events:none; }
.by-dropdown-header-v02 { cursor: default;}
.search_results { font-size: 13pt; line-height: 1.2rem; }
.search_results li { margin-top: 0.8rem;}
.progress-outside .progress-inside{
  width:0%;
}
.progress-outside{
	width: calc(100% - 35px);
}

.backend input {
  border: solid 1px;
}

/* temporary fix for dropping below the carousel in Chrome
.carousel-arrow-left-v02{
  width: unset;
}
*/

.backend #genre{
  min-height: unset;
  height: unset;
}