/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery-ui
 *= require_tree .
 *  old   = require jquery.ui.all
*/
/*body{font-size:14px;} /* default */
.nav-tabs {
  font-size:1.4em;
  font-color: blue;
}
/* test note */

.nav-tabs a {
  color:blue;
}
.nav-tabs a:visited {
  color: blue;
}
.cite_container td {
  padding: 1em;
}
.work_title {
  font-size:3em;
}
.fontsize_container {
  font-size:1.2em;
}
.vcentered {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  direction:rtl;
}
/*.row{padding-right:-15px;padding-left:-15px} /* missing from bootstrap-rtl */
.error {
  border: solid 4px #900;
  background-color: #FF6565;
}
.notice {
   border: solid 4px #26722D;
   background-color: #A4E7A0;
}
.popover {
  min-width: 250px;
}
#search-field {
  width: 20em;
}

#user-widget {
  text-align:left;
}
/*
@font-face { font-family: "Alef"; src: url('/assets/Alef-Regular.eot'); src: url('/assets/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/Alef-Regular.woff') format('woff'), url('/assets/Alef-Regular.ttf') format('truetype'), url('/assets/Alef-Regular.svg#alefregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: "AlefBold"; src: url('/assets/Alef-Bold.eot'); src: url('/assets/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/Alef-Bold.woff') format('woff'), url('/assets/Alef-Bold.ttf') format('truetype'), url('/assets/Alef-Bold.svg#alefbold') format('svg'); font-weight: bold; font-style: normal; }
*/
/* @import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css); */

/* @import url(https://fonts.googleapis.com/css?family=Alef); */

/* icon font from fontello.com */

@font-face {
  font-family: 'bybe_glyphs';
  src: url('bybe_glyphs.eot?69247430');
  src: url('bybe_glyphs.eot?69247430#iefix') format('embedded-opentype'),
       url('bybe_glyphs.woff2?69247430') format('woff2'),
       url('bybe_glyphs.woff?69247430') format('woff'),
       url('bybe_glyphs.ttf?69247430') format('truetype'),
       url('bybe_glyphs.svg?69247430#bybe_glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bybe_glyphs';
    src: url('../font/bybe_glyphs.svg?69247430#bybe_glyphs') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bybe_glyphs";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-video:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-wordpress:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-cc-zero:before { content: '\e804'; } /* '' */
.icon-cc-pd:before { content: '\e805'; } /* '' */
.icon-cc:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-download-alt:before { content: '\e808'; } /* '' */
.icon-print:before { content: '\e809'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-bookmark:before { content: '\e80b'; } /* '' */
.icon-heart-empty:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-bookshelf:before { content: '\e80e'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */


/* from Diffy */
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }


/* from actual BYBE design by RY */

@charset "UTF-8";
/* CSS Document */
html {
font-size: 62.5%;
}
.container {
  direction:rtl;
}
.container-fluid {
  direction:rtl;
  width: 100%;
}

body {
font-family: "Alef";
color: #2b0d22;
font-size: 1.4rem;
}
h1 {
font-size: 3.6rem;
font-weight: bold;
color: #660248;
}
h2 {
font-size: 2.2rem;
font-weight: bold;
color: #660248;
margin-top: 3rem;
margin-bottom: 0.4rem;
}
.name-on-card{
  font-size: 2.2rem;
  font-weight: bold;
  color: #660248;
}
h3 {
font-size: 1.8rem;
font-weight: bold;
color: #660248;
margin-bottom: 0.4rem;
margin-top: 0rem;
padding-top: 0.8rem;
}
.h3 {
font-size: 1.8rem;
font-weight: bold;
color: #660248;
margin-bottom: 0.4rem;
margin-top: 0rem;
padding-top: 0.8rem;
}
h4 {
font-weight: bold;
color: #660248;
margin-top: 1.2rem;
margin-bottom: 0.4rem;
}
h5{
  font-weight: bold;
  padding-top: 1rem;
}
p {
margin-bottom: 0.4rem;
}
img {
margin: auto;
}
a {
  color: #660248;
  text-decoration: none
}
a:hover{
  color: #2b0d22;
  text-decoration: none
}
a:active{
  color: #2b0d22;
  text-decoration: none
}
a:disabled {
  color: #907989;
  text-decoration: none
}
.text-on-dark{
  color: #d4c5d0;
}
.text-on-dark a{
  color: #d4c5d0;
  font-weight: bold;
}
.text-on-dark a:hover{
  color: #fff;
}

.small-text {
font-size: 1.4rem;
}
.icon {
font-family: "fontawesome";
font-size: 2rem;
color: #907989;
vertical-align:text-bottom;
}

.icon a:hover{
color: #660248;
}
.icon-text {
font-size: 1.4rem;
color: #660248;
padding-bottom: 0.6rem;
}
.topbar{
background-color: #2b0d22;
}

.top-nav{
  height: auto;
  min-height: 2.8rem;
  background-color: #2b0d22;
  font-size: 1.4rem;
  color: #907989;
}
#user-widget{
  text-align:left;
}
.search-bar{
  height: 7rem;
}
.creation-search-bar{
  height:7rem;
}
.blank-space{
  height: auto;
}

#site-logo{
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}
#navbar-full-width{
  box-sizing: border-box;
  height: auto;
  min-height: 2.8rem;
  border-top: 0.2rem solid #d9cdd5;
  border-bottom: 0.1rem solid #d9cdd5;
  font-size: 1.4rem;
  color: #907989;
}
.bottom-line{
  padding-bottom:1rem;
  border-bottom: 0.2rem solid #d9cdd5;
}
#navbar{
  height: 2.8rem;
  padding-top: 0.4rem;
}

.nav {
  font-size: 1.6rem;
  height: auto;
  float: right;
  color: #2b0d22;
}

ul {
 padding-right:0;
  margin: 0;
  list-style-type:none;
}
.nav li {
  margin: 0 1.6rem;
  display: inline;
 }
li :active{
  font-weight: bold;
}
.backend-field {
  margin-bottom: 10px;
}

.field {
  height: 3rem;
  border-top: none;
  border-bottom: 0.2rem solid #d9cdd5;
  border-right:none;
  border-left:none;
  margin-bottom: 3rem;
  line-height: 3.6rem;
  width:100%;
  padding: 0 0.4rem;
  background: none;
  -webkit-appearance: none;
}

select{
  -webkit-appearance: none;
  height: 3rem;
  border-top: none;
  border-bottom: 0.2rem solid #d9cdd5;
  border-right:none;
  border-left:none;
  margin-bottom: 3rem;
  line-height: 3.6rem;
  width:100%;
  padding: 0 0.4rem;
  background-color:#fff;
  background-image: url(../images/dd-arrow2.png);
  background-position: left;
  background-repeat: no-repeat;
  border-radius:0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#907989;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#907989;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#907989;
}
:-moz-placeholder { /* Firefox 18- */
  color:#907989;
}
option:first {
    color: #907989;
}
.search-field {
  width: 92%;
  margin-top: 2.2rem;
  float: right;
  display: inline;
}
.search-icon {
width: 2rem;
float: left;
font-family: "FontAwesome";
color: #660248;
font-size: 1.8rem;
margin-top: 3rem;
display: inline;
}
.search {
}
.fontsize-selector {
  width: auto;
  height: auto;
  float: right;
}
.circle {
width: 2.4rem;
height: 2.4rem;
border-radius: 50%;
background-color: #907989;
}
.fontsize-text{
  float:right;
  margin-left: 1.2rem;
}

.english {
  float: left;
  text-align: left;
}
.welcome {
  height: auto;
  background-color: #9d9299;
  background-image: url(/assets/welcome_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 3px 10px rgba(69, 42, 14, .35);
}

.welcome-content {
  padding-top: 1.6rem;
  font-size: 2rem;
  text-align: center;
  align-content: center;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
.welcome-content h1{
  margin-bottom: 0.6rem;
  text-align: center;
}.welcome-content p{
  margin: 0.8rem;
  text-align: center;
}
.welcome-content a {color: #660248;}
.welcome-content a:hover{ color: #2b0d22;}
.welcome-actions {color:white;padding-top: 1.4rem;padding-bottom: 1.4rem}
.welcome-icon{
  font-family: 'ben-yehuda';
  font-size: 2rem;
  padding-left:0.6rem;
  padding-right:0.6rem;
  display: inline;
}
.welcome-icon a{color:#fff;}
.donate-icon{font-size: 2rem;padding-left:0.6rem;padding-right:0.6rem;display: inline;margin-top: 0.5rem; margin-right:-0.3rem;}
#byfooter{
  height: 8rem;
  background-color: #2b0d22;
  font-size: 1.4rem;
  color: #d9cdd5;
  /* margin-top: 8rem; */
} #bottom-nav{
  padding-top: 1rem;
}
.byfooter a{
  color: white;
  font-weight: bold;
}
.card {
  background-color: #eeeced;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0,0,0, .4);
    margin:0.8rem auto;
}
.whatsnew-author-card{
  width:100%;
  height: 11.4rem;
}
.whatsnew-text{
  width: 78%;
  padding: 1.2rem 1.2rem 0 0.6rem;
  max-height: 11.4rem;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.whatsnew-pic{
  width: 22%;
  float: left;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  padding: 0;
  max-height: 11.5rem;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.work-card{
  width: 100%;
  height:auto;
  margin-top: 3rem;
}
.work-text{
  width: 78%;
  padding: 3rem 10rem 2rem 10rem;
  display: inline-block;
}
.work-pic{
  width:22%;
  height: 272.4rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  background-color:#d9cdd5;
  display: inline-block;
  float:left;
}
#authors{
  direction:rtl;
}
.work-portrait{
  overflow: hidden;
  border-top-left-radius: 0.3rem;
  direction:ltr;
  position: relative;
  height:69rem;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
img.absolute {
  margin-left: -19rem;
  position: absolute;
}
.card-content {
  width: 100%;
  height: auto;
  padding: 1.6rem;
  overflow: hidden;
}
.author-card {
  width: 100%m;
  /* height: 28rem; */
  background-color: #660248;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 4rem;
}
.author-homepage-pic{
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  overflow:hidden;
}
.author-homepage-text{
  color: #fff;
}
.surprise{
  background-color: #eeeced;
  background-image:url(/assets/corner.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  height:30rem;
}
.surprise-author {
  padding-top: 5rem;
}
.dictionaries{
  background-color: #eeeced;
  background-image:url(/assets/BY_lex_side.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #660248;
  position: relative;
}
.replace-icon{
  color: white;
  font-size: 1.8rem;
  position: absolute;
  bottom: 0rem;
  left: 1rem;
}
.genre-card{
  height:13rem;
}
.genre-card-content{
  padding: 1rem;
  align-content: center;
}
.full-size-card{
  width:100%;
  height: auto;
}
.float-left{
  float: left;
}
.more-space {
  height:14rem;
}
.more-bottom {
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
.more-actions {
  padding-top: 1.4rem;
  width:auto;
  align-content:center;
}
.more-actions a{
  color:#660248;
}
.more-actions a:hover{
  color: #2b0d22;
}

.genre-icon{
  font-family: 'ben-yehuda';
  font-size: 5.6rem;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: -0.8rem;
}
.genre-icon a{
  color:#660248;
}
.genre-icon a:hover{
  color: #2b0d22;
}
.genre-card-content{
  text-align: center;
}
.flashlight-card{
  min-height: 42.2rem;
}
.footer-card{
  height: 28rem;
}
#breadcrumbs li{
  margin: 0 0.2rem;
  display: inline;
}
.form{
  margin: 1.6rem 0;
}
.field-lable{
  font-weight: bold;
  padding-top: 0.7rem;
}
.contact-field {
  width: 92%;
  float: right;
  display: inline;
}
.years{
  width: 96%;
}
.add-icon {
  width: 2rem;
  font-family: "FontAwesome";
  font-size: 1.8rem;
  color: #660248;
  padding-top: 0.6rem;
  float: left;
  display: inline;
}
.textarea{
  border: 0.2rem solid #d9cdd5;
}
.contact-textarea {
  width: 92%;
  float: right;
  display: inline;
padding: 0.4rem;
}
.btn {
width: auto;
padding: 0 2rem;
height: 3.2rem;
border-radius: 0.3rem;
color: white;
text-align: center;
background-color: #660248;
margin-right: 1.2rem;
float:left;
margin-top: 3rem;
box-shadow: 0 0.1rem 0.3rem rgba(0,0,0, .4);
}
.btn:hover{
  color: white;
background-color: #2b0d22;
}
.btn:disabled{
background-color: #d9cdd5;
}
.form-buttons{
  width: 92%;
}
.card-header {
height: 4.2rem;
border-bottom: 0.2rem solid #d9cdd5;
padding: 1.2rem 2.4rem 0 1.2rem;
}
.card-header-element{
  float: right;
  margin-left: 1rem;
  display: inline;
}
.work-rights{
  padding-top: 2rem;
  float: right;
  margin-left: 1rem;
  display: inline;
}
.near-picture{
  width: 70%;
}
.author-top{
  margin: 3.4rem 0;
  z-index: 0;
}
.card-content {
padding: 2.4rem;
}
.author-links{
  margin-top: 1rem;
  float: right;
  margin-left: 1.2rem;
  display: inline;
}
.darkoldpink{
  color:#907989;
}
.darkoldpink a{
  color:#907989;
}
.creator-bookmark {
}
.creator-bookmark-back {
  z-index: 1;
  width: 168px;
  height: 6px;
  float: left;
  float: top;
  margin-left: 2.6rem;
  margin-top: -0.6rem;
  background-image:url(../images/creator-bookmark-back2.png);
  background-repeat: no-repeat;
  background-position: left;
}
.creator-bookmark-front {
  z-index:3;
  width: 20%;
  float: left;
  float: top;
  margin-left: 2.4rem;
  margin-top: -0.6rem;

}
.creator-bookmark-front img{
  float: left;
  float: top;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem
rgba(0,0,0, .5);
}
#filters-full-width{
  box-sizing: border-box;
  height: auto;
  min-height: 2.8rem;
  border-top: 0.2rem solid #d9cdd5;
  border-bottom: 0.1rem solid #d9cdd5;
  font-size: 1.4rem;
  color: #907989;
}
#filters-bar{
  height: 2.8rem;
  padding-top: 0.4rem;
}
.checkboxes-filters{
  font-size: 1.6rem;
  height: auto;
  float: right;
  color: #2b0d22;
}
.genre-line{
  display: inline;
  margin-left: 2rem;
}
.genre-sort{
  width: 20rem;
}
.creation-list-icon {
  margin-right: -2.2rem;
  font-size: 1.4rem;
  color: #660248;
}
.fa {
  vertical-align:top;
}
#toolbox {
  width:6rem;
  border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
    float: right;
    position: absolute;
    z-index: 1;
}
.toolbox-header {
    width: 6rem;
    height: 1.6rem;
    background-color: #907989;
    padding: 0 0.6rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.toolbox-header-chevron {
    color: #d9cdd5;
  float:left;
}

.toolbox-cell {
    width: 6rem;
    height: 5.2rem;
  background-color: #eeeced;
    text-align: center;
    font-size: 2.4rem;
  display: table-cell;
    vertical-align: middle;
  border: none;
}
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.toolbox-cell .wide-cell {
    width: auto;
}

.toolbox-cell .error-found {
    font-family: "ben-yehuda";
    font-size: 3.6rem
}

.bypagination{
  margin:auto;
}
.bypagination ul{
  box-sizing: content-box;
  margin: 0 16.5rem;
}
.bypagination ul li{
  display: inline;
  color: #907989;
}
.bypagination ul li a{
  padding: 0 1rem;
  display: inline;
  color: #907989;
}
.bypagination ul li a:hover{
  color: #660248;
}
.search-result{
  width:100%;
  height: 13.6rem;
  margin-top:1.6rem;
}
.search-result-text{
  width: 82%;
  padding: 1.2rem 1.2rem 0rem 1.2rem;
  max-height: 12.6rem;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.search-result-pic{
  width: 18%;
  float: left;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  padding: 0;
  height: 13.6rem;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background-color:#907989;
}
.result-genre-bg{
  background-color:#907989;
  width:10rem;
  height:13rem;
  z-index: 0;
}
.result-links{
  margin-top: 1.2rem;
  font-size: 1.6rem;
  float: right;
  margin-left: 1.2rem;
  display: inline;
}
.want-to-read {
  margin-top:0.2rem;
  width: 16rem;
}
.portrait{
  width:42rem;
  background: #d2cfcf;
  float:left;
}
.chapter-name{
  font-size: 1.8rem;
  font-weight: bold;
  color: #660248;
}
.logo-area-elements{
  display: inline;
  padding-left:3.6rem;
}
.top-separator{
  width: 0.2rem;
  height: 8rem;
  background: #eeeced;
  padding: auto 0;
}
.work-name{
  padding:2rem 3.6rem 0 0;
}

.work-view-btn {
width:6rem;
font-size:2.4rem;
padding: 0.4rem;
height: 3.2rem;
border:none;
border-radius: 0.3rem;
color: white;
text-align: center;
background-color: #660248;
margin:0 0 2rem 0;
box-shadow: 0 0.1rem 0.3rem rgba(0,0,0, .4);
}
.work-view-btn:hover{
  color: white;
  background-color: #2b0d22;
}
.tag-card{
  margin-left: 0.8rem;
  padding: .8rem;
  display: inline;
  float: right;
}
.tag-content{
  padding: 0 1.6rem;
}
.recommendation {
  height: auto;
  min-height: 11rem;
  margin: 1.2rem 0;
}
.rec-user{
  width: 13%;
  display: inline;
  float:right;
  margin-left: 0.8rem;
}
.rec-user-pic{
  width: 6rem;
  height:6rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-right: 1.2rem;
  margin-bottom: 0.6rem;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background-color:#907989;
}
.rec-user-icon{
  font-size: 5rem;
  color:#d9cdd5;
  padding: 0.5rem 0.5rem 0 0.5rem;
  vertical-align: bottom;
}
.rec-user-name{
  color:#907989;
  text-align: center;
}
.rec-txt{
  width: 78%;
  display: inline;
  float:right;
  padding: 1.6rem 0 0 0rem;
}

.rec-flag{
  width: 6%;
  display: inline;
  float: left;
  padding:0.8rem 0 0 0.4rem;
}
