/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.author_title{
  font-size: 3rem;
}
#toolbox{
  border:1px solid black;
  float:right;
  margin-top: 1rem;
  position:absolute;
  z-index:1;
}

#maintext a {
  font-weight: bold;
}
