// Place all the styles related to the Bib controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.publine{

}

.pub_selected td {
  font-weight: bold;
  background-color: green !important;
}

.bib-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 5px;
}
.bib-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 5px;
}
.bib-flex-header {
  font-weight: bold;
}
.bib-flex-row div:nth-of-type(odd) {
  background-color: #e6e6e6;
}
.bib-flex-row div:nth-of-type(even) {
  background-color: #cccccc;
}