/* CSS Document */

@media only screen and (max-width: 479px) {

.scrolled .logoBY-scroll-mobile-v02{
	  top: 3px;
	}
		.scrolled .logoBY-scroll-mobile-v02 img{
    height: 28px;
}
.author-info-v02 {
		width: 21px;
		height: 21px;
		font-size: 13px;
		line-height: 19px;
		top: 3px;
		left: 3px;
	}

.carousel-demo {
		width: calc(100% - 42px);
		height: 148px;
	}
.carousel-arrow-right-v02 {
		width: 20px;
		height: 140px;
		font-size: 18px;
		padding-top: 60px; 
		margin-right: -6px;
	}
.carousel-arrow-left-v02 {
		width: 20px;
		height: 140px;
		font-size: 18px;
		padding-top: 60px; 
		margin-right: 6px;
		margin-left: -6px;
	}

.author-card-v02{
		width: 80px;
		height: 148px;
		margin: 0 6px;
	}
.surprise-author-card-v02 {
		width: 80px;
		height: 148px;
		margin-right: 15px;
		margin-top: -4px; }
.about-author-card-v02 {
		width: 80px;
		height: 115px;
		margin-top: -4px; }

.surprise-work-card-v02 {
		width: 80px;
		height: 148px;
		margin-left: 15px;
		margin-top: -4px; }

.surprise-author-card-bookmark-fold-v02 {
		width: 84px;
		height: 4px;
		margin-right: 11px;
		margin-top: -4px; }
.about-author-card-bookmark-fold-v02 {
		width: 84px;
		height: 4px;
		margin-right: 11px;
		margin-top: -4px; }

.author-pic-v02 {
		width: 80px;
		height: 115px; }

.surprise-author-pic-v02 {
		width: 80px;
		height: 115px; }

.surprise-work-genre-v02 {
		width: 80px;
		height: 115px;
		padding-top: 24px; }


.author-name-v02 {
	font-size: 11px;
	line-height: 11px;
		 }

.by-genre-icon-surprise-v02 {
		font-size: 36px;
	line-height: 36px;
}



#period-timeline {
		padding: 0 3px; }

#period-timeline div {
		width: 18%; 
	}

body {
		font-size: 9.5pt;
		line-height: 10.5pt; 
	}
.top-element{
		margin-top: 96px;
	}
#header > .row {
		margin-left: -15px;
		margin-right: -15px;
	}

.top-search-icon-mobile-v02 {
		padding-top: 0px;
	}

.by-icon-header-v02{
		font-size: 18px;
		vertical-align: -3px;
	}
.by-genre-icon-v02 {
		font-size: 32px;
		line-height: 32px;
	}

.by-genre-icon-v03 {
		font-size: 32px;
		line-height: 32px;
	}
.volunteer-height{
		max-height: 226px;
	}
.statistics-box-v02 {
	margin-top: 8px;
		border-radius: 12px; 
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	}

.stat-big-v02 {
		font-size: 16px;
		font-weight: bold;
		line-height: 12px; 
	}
.stat-small-v02 {
		font-size: 9px;
		line-height: 8px;
		margin-top: 6px; 
	} 
.name-under-btn{
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}
.error-found{
		padding-top: 4px;
}

	
.toc h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h6 {
  font-size: 10px;
  margin-right:0;
  margin-bottom: 4px;
}
#actualtext h1{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h6 {
  font-size: 10px;
  margin-right:0;
  margin-bottom: 4px;
}
.credits h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h6 {
  font-size: 10px;
  margin-bottom: 4px;
}
.work-info-card{
	min-height: 125px;
}

	.headline-1-v02{
}
.headline-2-v02 {
  font-size: 12pt;
 line-height: 13pt; 
	}

.headline-3-v02 {
  font-size: 11pt;
 line-height: 12pt; 
	}
.headline-4-v02 {
  font-size: 10pt;
 line-height: 11pt; 
	}
.sidebar-opened{
  width: 80%;
  min-width: 280px;
}
	.surprise-btn-area-v02 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px; }

.surprise-btn-v02 {
  padding: 6px 12px;
  height: 36px; }

.surprise-again-btn-v02{
  width: 132px;
  height: 36px; 
}

.about-work-card-bookmark-fold-v02 {
  width: 84px;
  height: 3px;
  margin-right: 11px;
  margin-top: -3px;
}
.about-work-author-card-v02 {
  width: 80px;
  height: 115px;
  margin-right: 15px;
  margin-top: -3px;
}
.about-work-author-pic-v02 {
  width: 80px;
  height: 115px;
}	
	.tag{
		margin-bottom: 4px;
	}

	.author-main-info-card-v02{
	min-height: 150px;
}
	.reading-mode-icon-btn-v02{
  margin-left: 8px;
	padding: 0;
	
	}
	.work-page-top-icons-mobile{
	bottom: 0;
}
	.credits{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
	.author-name-area{
		height: 33px;
	}
		.author-page-content{
	margin-top: 198px;
}
	.text-page-content{
	margin-top: 192px;
}
.about-page-content{
		margin-top: 125px;
	}
.logoBY-v02 {
    max-width: 188px;
    max-height:60px;
    padding-right: 0px;
	padding-top: 4px;}
	
.author-page-top-name{
		line-height: 28px;
	}

	.work-name-top{
		margin-bottom: 4px;
	}
.work-page-top-author{
	}
	.work-side-color{
  display: none;
}
.print .author-page-content{
	margin-top: 15px;
}
.print .text-page-content{
	margin-top: 15px;
}
.progress-outside{
	height: 4px;
	width: calc(100% - 24px);
	}
	.progress-handle{
	top: -6px;
}
		.rm-control-panel-mobile .progress-area{
	padding-top: 0;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0;
	}
.rm-control-panel-mobile .rm-logo .logoBY-v02{
	width: 120px;
	margin-right: 10px;
}
.share-option{
	padding-top: 0px;
}
.share-icon{
	font-size: 21px;
	line-height: 21px;
}
.share-name{
	padding-top: 8px;
}
.by-icon-top-v02{
	font-size: 16px;
}
.minimized .rm-control-panel-mobile{
	width: 140px;
	height: 36px;
}
.rm-control-left .collapse-expand-icon{
	padding-top: 3px;
}
.rm-control-panel-mobile #text-moreMobile{
  height: 14px;
	}
.bookmark-location{
	top: -4px;
}
.top-contact-center{
padding-top: 6px;
	}
.sort-type-headline {
  font-size: 12pt;
 line-height: 13pt; 
	}
	.second-header-row{
	margin-top: 0px;
}
	
.scrolled .logoBY-scroll-mobile-v02{
		position: absolute;
		right: calc(100% - 130px);
	}
.scrolled .logoBY-scroll-mobile-v02 img{
    max-height: 28px;
	margin-top: 2px;
}
.share-popup{
	width: 180px;
}
.select-all input[type=checkbox]{
  margin-top: 1px;
}
.summary-text{
		width: 100%;
	}
.summary-text-more-lines{
		width: 100%;
	}
	.summary-read-more{
		margin-top: 6px;
	}
	.value-summary-card-v02{
		padding-bottom: 30px;
	}
.BYD-entry-top .headline-1-v02{
	font-size: 12pt;
	line-height: 15pt;
}
	.BYD-entry-top{
		padding-top: 6px;
		padding-bottom: 6px;
	}
.surprise-author-card-content-v02 {
  width: calc(100% - 93px);
	margin-right: 95px;
}
	.surprise-work-card-content-v02 {
  width: calc(100% - 93px);
	margin-right: 95px;
}
.by2-icon{
    font-size: 14px;
    line-height: 14px;
}
.mainlist ol {
  padding-right: 34px;
}
	
.mainlist ol > li:before {
  right:-34px;
  width:34px;
}
#authors-surprise-replaced .by-card-header-v02{
	padding-right: 110px;
}
	#whats-new-author-popup .by-card-header-v02{
	padding-right: 110px;
}
	#works-surprise-replaced .by-card-header-v02{
			padding-right: 110px;
	}
	#author-info-popup .by-card-header-v02{
			padding-right: 110px;
	} 
	.by-icon-v02{
		font-size: 18px;
		line-height: 18px;
	}
	.statistics-box-v02 div:nth-of-type(1) {flex-grow: 1;}
.statistics-box-v02 div:nth-of-type(2) {width: auto;white-space: nowrap}
.statistics-box-v02 div:nth-of-type(3) {flex-grow: 1;}
}
