/* CSS Document */

@media only screen and (max-width: 991px) {

.scrolled .logoBY-scroll-mobile-v02{
		position: fixed;
		left: calc(50% - 60px);
		width: 160px;
		top: 3px;
	}
	.scrolled .logoBY-scroll-mobile-v02 img{
    height: 33px;
}
	.author-name-years{
		display: block;
	}

	.author-page-top-years{
		vertical-align: text-bottom;
	}

.author-page-top-icons-desktop{
	display: none;
}
.author-page-top-icons-mobile{
	display: inline-block;
	float: left;
}


	
.author-page-top-sort-desktop{
	display: none;
}
.author-page-top-sort-mobile{
	display: inline-block;
	float: left;
	}
	.top-row-v02{
	display: none;
}
	.header-bottom-row-v02{
		padding-top: 4px;
	}
	.top-donation-desk-area-v02 {
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 0;
  padding-right: 0;
}
	.donation-area-v02{
		display: none;
	}
	.logoBY-scroll-mobile-v02{
		display: none;
		margin-left: auto;
		margin-right: auto;
	}
	#whats-new-bg {
  background-image: url("/assets/bullhorn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%; 
  height:auto;}


	.flash-work-v02 {
  min-height: 400px;
	}
.flash-author-v02 {
 min-height: 400px;
	}
	.flash-bg-v02 {
    height: auto;}

	#volunteer-bg {
  background-image: url("/assets/giving hand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: auto;
  width: 100%; }


	
	.carousel-demo {
  width: calc(100% - 50px);
  height: 231px;
}
	.carousel-arrow-right-v02 {
  width: 21px;
  height: 231px;
  font-size: 21px;
  padding-top: 105px; 
  margin-right: -4px;
	}
.carousel-arrow-left-v02 {
  width: 21px;
  height: 231px;
  font-size: 21px;
  padding-top: 105px;
	margin-right: 8px;
	margin-left: -4px;
	}




	
	
.author-card-v02{
	width: 132px;
    height: 231px;
	margin: 0 8px;
}
.surprise-author-card-v02 {
    width: 132px;
    height: 231px;
    margin-left: 30px;
    margin-top: -5px; }
.about-author-card-v02 {
    width: 132px;
    height: 190px;
    margin-top: -5px; }

  .surprise-work-card-v02 {
    width: 132px;
    height: 231px;
    margin-left: 30px;
    margin-top: -5px; }

.surprise-author-card-bookmark-fold-v02 {
  width: 139px;
  height: 5px;
  margin-left: 30px;
  margin-top: -5px;
  z-index: 1; }
.about-author-card-bookmark-fold-v02 {
  width: 139px;
  height: 5px;
  margin-right: 8px;
  margin-top: -5px;
  z-index: 1; }

.author-pic-v02 {
    width: 132px;
    height: 190px; }


	
  .surprise-author-pic-v02 {
    width: 132px;
    height: 190px; }

  .surprise-work-genre-v02 {
    width: 132px;
    height: 190px;
    padding-top: 48px; }
	.author-name-area{
		height:41px;
	}
		.surprise-author-name-v02{
	padding-top: 0;
	}
 #header-general {
    width: 100%;
 }
#header-author {
    width: 100%;
 }
#header-text {
    width: 100%;
 }

  #content {
    width: 100%;
    height: auto; }

  #project-finance-support {
    width: 90%; }
.top-logo-row-v02{
	display: none;
}
  .logoBY-v02 {
    max-width: 250px;
	  max-height:62px;
    padding-right: 0px;
	padding-top: 6px;}
	.logoBY-scroll-v02 {
		margin-top: 0;
  max-width: 160px;
  padding-right: 0px; }



  .statistics-box-v02 {
    word-break: break-all;
    height: 52px;
    border-radius: 12px;
    margin-right: 0px; }

  .stat-big-v02 {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px; }

  .stat-small-v02 {
    font-size: 11.8px;
    line-height: 11px;
    margin-top: 6px; }

  .top-btn-group-v02 {
    display: none; }

  #menu {
    display: none; }

  .menuButton-v02 {
    display: block; }

	.top-logo-scroll-mobile{
	display: inline-block;
}

  .empty {
    display: none; }

  .top-search-box-v02 {
    display: none; }

  .topMobileBtns-v02 {
    display: block;
    float: left; }



  #works-in-project {
    height: auto;
  }


  #genre {
    display: none; }

  #genre-mobile {
    display: block; }

  .top-works {
    max-height: none; }


.side-menu-area{
	-ms-flex: 0 0 50px;
    flex: 0 0 50px;
	  padding-left:0;
	}

.nav{
	width: 34px;
	}
.side-menu-area-left{
	display: block;
	-ms-flex: 0 0 50px;
    flex: 0 0 50px;
	padding-left:0;
	}
.side-menu{
    -ms-flex: 0 0 34px;
    flex: 0 0 34px;
	}
.nav-link{
	height:34px;
	width:34px;
	padding:8px;
}
.side-menu-icon{
	font-size:18px;
	line-height: 18px;
}
.side-menu-name{
  display: none;
}
.nav-link-edit{
  display: block;
}
.error-found-col{
	padding-left: 15px;
	padding-right: 0;
}
.top-element {
  margin-top: 100px;
}
.work-side-menu-area{
display: none;	}

.work-side-menu-area-left{
	display: none;
	}
.work-side-menu{
	display: none;
}
	.work-info-card{
	min-height: 142px;
}
.work-page-top-icons-desktop{
	display: none;
	float: left;
}
.work-page-top-icons-mobile{
	display: inline-block;
	float: left;
}

.popup-x-v02 {
  width: 30px;
}

.author-page-top-rights{
	width: calc(100% - 140px);
  white-space: nowrap;
	margin-right: 0;
	display: inline-block;
 }

.by-side-menu-seperator{
  display: block;
}
.by-genre-icon-surprise-v02{
  font-size: 66px;
  line-height: 66px;
}

.sidebar-opened{
  display: block;
  width: 360px;
  padding-left: 15px;
}
.about-work-card-bookmark-fold-v02 {
  width: 101px;
  height: 5px;
}
.about-work-author-card-v02 {
  width: 96px;
  height: 138px;
}
.about-work-author-pic-v02 {
  width: 96px;
  height: 138px;
}
	.whats-new-content{
	  height: auto;
}
	.works-in-project-content{
	height: auto;
}
.volunteer-content{
	height: auto;
}
.flash-content{
	height: auto;
}


.work-chapters-dropdown-field-desktop{
	display: none;
}
.work-chapters-popup-mobile{
	display: inline-block;
}

.mobile-work-details{
  display: block;
}
.volunteer-v02 {
  min-height: auto;
}
.card-with-bottom-links{
	padding-bottom: 58px;
}
.link-to-all-v02 {
  line-height: 28px;
  }
	.bottom-right-link{
  line-height: 28px;
	}
.right-side-icon{
	line-height: 28px;
	}
.left-arrow{
	line-height: 24px;
	}
	.by-button-v02{
		height: 28px;
		line-height: 28px;
	}
	.mobileLogo{
    display:block;
  }

	.surprise-btn-v02 {
  width: 160px;
  height: 50px; }
	
	.author-page-content{
	margin-top: 205px;
}
.text-page-content{
	margin-top: 214px;
}

	.nav-chapter-name{
	width: 84px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	justify-content:flex-start;
}
	.side-menu-headline{
		display: none;
	}
	#chapternav{
		display: none;
	}
	#text-nav-more{
		position: relative;
		top:4px;
	}
	.author-sort-area{
		width: auto;
	}
	.work-page-top-author{
		width: calc(83% - 44px);
		display: inline-block;
	}
}





