/* CSS Document */


@media only screen and (max-width: 1279px) {

  #header-general {
    width: 100%; }
	#header-author {
    width: 100%; }
	#header-text {
    width: 100%; }

  #content {
    width: 100%;
	}

  .topMenuItem-v02 {
    padding-left: 6px; }

  .by-popup-v02 {
  width: 60%;
}

}





