/* CSS Document */

@media screen and (max-width: 767px) {
	header.scrolled #top-bar {
		height: auto;
	}
	header.scrolled #top-bar .scrolled-top-row-v02 {
		display: none;
	}
	#header{
		width: 100%;
	}

.text-height-author {
  -webkit-line-clamp: 2;
  max-height: 40px;
}

.text-height-author-2 {
  -webkit-line-clamp: 8;
  max-height: 160px;
}


.byPeriod {
  width: 17%;
 }

.byPeriodTop-v02 {
  width: 21%;
}

.byPeriodbottom-v02 {
  width: 21%;
}

.firstPeriodBottom{
  margin-right: 2%;
}

.works-most-read{
  padding-right: 0;
  padding-left: 0;
}
.works-most-new{
  padding-right: 0;
  padding-left: 0;
  margin-top: 12px;
}
.surprise-author-left-side{
  margin-top: 0;
	}
.popup-top{
  display: block;
}

.by-popup-v02 {
  width: 100%;
  height: 100%;
  box-shadow: none;
  position: fixed;
  left: 0;
  margin-top:58px;
  margin-left: 0;
  margin-right: 0;
  border-top: solid 2px #d9cdd5;
  border-radius: 0;
}
.popup-x-v02 {
  display: none;
}
.popup-with-bottom-links{
		height: calc(100% - 62px);
	}
	.author-page-top-name{
		line-height: 36px;
	}
	.author-page-content{
		margin-top: 210px;
	}
	.work-page-top-author{
		width: calc(75% - 39px)
	}

	.desktop-only{
		display: none;
	}
	
}
