/* CSS Document */

@media only screen and (max-width: 399px) {
.top-element{
  margin-top: 80px;
  }
.byPeriod {
  width: 8%;
 }

.byPeriodTop-v02 {
  width: 26%;
}

.byPeriodbottom-v02 {
  width: 26%;
}

.firstPeriodBottom{
  margin-right: 8%;
}
	
	
.byPeriodName-v02{
		line-height: 12px;
	}
.byPeriodDetails-v02{
		line-height: 12px;
	}

#header > .row {
	margin-left: 0px;
	margin-right: 0px;
}
#footer{
	padding: 4px;
}
#footer .row {
	margin: 0;
}

.carousel-demo {
  width: calc(100% - 39px);
  height: 113px;
}
.carousel-arrow-right-v02 {
  width: 20px;
  height: 105px;
  font-size: 18px;
  padding-top: 45px; 
		padding-right: -4px;
	}
.carousel-arrow-left-v02 {
  width: 20px;
  height: 105px;
  font-size: 18px;
  padding-top: 45px;
	margin-right: 3px;
	padding-left: -4px;
	}
.author-info-v02 {
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 16px;
  top: 3px;
  left: 3px;
}
	
.author-card-v02{
	width: 60px;
    height: 113px;
	margin: 0 3px;
	}
.surprise-author-card-v02 {
    width: 60px;
    height: 113px;
    margin-right: 15px;
    margin-top: -3px; }
.about-author-card-v02 {
    width: 60px;
    height: 80px;
    margin-top: -3px; 
	}
.surprise-work-card-v02 {
    width: 60px;
    height: 113px;
    margin-top: -3px; 
	}

.surprise-author-card-bookmark-fold-v02 {
    width: 63px;
	height: 3px;
    margin-right: 12px;
    margin-top: -3px; 
	}
	
.about-author-card-bookmark-fold-v02 {
    width: 63px;
	height: 3px;
	margin-right: 12px;
    margin-top: -3px; 
	}
	
.author-pic-v02 {
    width: 60px;
    height: 80px; 
	}
	
.surprise-author-pic-v02 {
    width: 60px;
    height: 80px; }

.surprise-work-genre-v02 {
    width: 60px;
    height: 80px;
    padding-top: 20px; }
.author-name-v02 {
	font-size: 10px;
	line-height: 10px;}
	
.surprise-author-name-v02 {
	font-size: 10px;
	line-height: 10px;
	padding-top: 0;
	    width: calc(100% - 100px);
}

.by-genre-icon-surprise-v02 {
    font-size: 24px;
	line-height: 24px;
 }

.by-genre-name-v02{
		font-size: 16px;
		margin: 0;
	}
.headline-1-v02{
  font-size: 15pt;
  line-height: 15pt;
}
.headline-2-v02{
  font-size: 13px;
  line-height: 14px;
}
	
.byPeriodName-v02{
		font-weight: bold;
		font-size: 12px;
	}

.statistics-box-v02 {
    height: 34px;
    border-radius: 8px; }

.stat-big-v02 {
    font-size: 12px;
    font-weight: bold;
    line-height: 11px; }

.stat-small-v02 {
    font-size: 7px;
    line-height: 7px;
    margin-top: 2px; }
.logoBY-scroll-v02{
		padding-top: 6px;
	}
.by-icon-top-v02{
		font-size: 14px;
	line-height: 14px;
	}
.btn-small-outline-v02 {
  min-width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
   }
.top-search-mobile-v02 {
  margin-right: 8px;
}
.author-page-top-info-card{
  padding: 3px 6px;
}

.btn-text-v02{
	padding: 0 6px;	
}
.work-info-card{
	min-height: 96px;
}

.icon-in-group-v02{
		margin-left: 4px;
}

.icon-in-group-v02 .by-icon-v02{
	  line-height: 12px;
}
	.work-chapters-dropdown-field{
	width: 48%;	
	}
	.field-v02 {
  padding: 0 4px;
}
body {
	font-size: 11px;
	line-height: 12px; 
}
.left-arrow {
  padding-right:3px;
  font-size: 9px;
}
	.right-arrow {
  padding-left:3px;
  font-size: 9px;
}
	.right-side-icon{
		font-size: 9px;
	}

.author-page-top-icons-mobile{
	left: 12px;
	bottom: 0px;
}


.author-name-years{
	margin-bottom: 2px;
	}
.breadcrumbs-arrow {
  font-size: 9px;
}
.dropdown-arrow{
	font-size: 9px;
	line-height: 28px;
}	
.by-icon-v02 {
  font-size: 12px; 
	vertical-align: middle;
}
.recommend-card-v02 {
  height: 110px;
}

.recommend-card-right-v02 {
  width: 88px;
 }
.recommend-card-pic-frame-v02{
  width: 48px;
  height: 48px;
  margin-right: 20px;
}
.recommend-card-pic-placeholder{
  font-family: ben-yehuda;
  font-size: 36px;
	line-height: 48px;
  height: 48px;
}
.iconNearText-v02{
  margin-left: 6px;
  vertical-align:middle; 
}
	.author-name-area{
		height: 33px;
	}
.author-page-content{
	margin-top: 178px;
}

	.text-page-content{
	margin-top: 166px;
}
	.about-page-content{
		margin-top: 112px;
	}
	.logoBY-v02 {
    max-width: 150px;
    max-height:54px;
    padding-right: 0px;
	padding-top: 2px;}
	
	.scrolled .logoBY-scroll-mobile-v02{
	}
		.scrolled .logoBY-scroll-mobile-v02 img{
    height: 24px;
}
	.author-page-top-rights{
	width: calc(50% - 29px);
 }
	.reading-mode-icon-btn-v02{
		padding: 0;
		line-height: 18px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 6px;
	}
	.by-icon-top-v02{
		line-height: 12px;
	}
	.top-search-icon-mobile-v02{
		padding-top: 0;
		text-align: center;
	}
	#moreMobile{
		padding-top: 0;
	}
	.work-page-top-author{
		min-height: 24px;
	}
		.work-page-top-icons-mobile{
	bottom: 2px;
}
	.print .col-12{
	padding-right: 15px;
	padding-left: 15px;
}
.print .author-page-content{
	margin-top: 0px;
}
.print .text-page-content{
	margin-top: 0px;
}
.collapse-expand-icon{
	padding-top: 0px;
	}
.rm-control-left .collapse-expand-icon{
	padding-top: 0px;
}
.rm-control-panel-mobile .rm-logo .logoBY-v02{
	width: 106px;
	margin-right: 6px;
}
.rm-control-panel-mobile .progress-area{
	width: 60%;
	padding-top: 2px;
	}
.minimized .rm-control-panel-mobile{
	width: 120px;
	height: 28px;
}
	.share-option{
	padding: 0px 8px;
}
.share-icon{
	font-size: 18px;
	line-height: 18px;
}
.share-name{
	padding-top: 8px;
}
.by-dropdown-v02{
	height: 12px;
}
.rm-control-panel-mobile #text-moreMobile{
  padding-top: 1px;
}
.rm-control-left{
  padding-top: 12px;
  padding-bottom: 12px;
}
.bookmark-icon{
  height: 15px;
  font-size:15px;
  line-height: 15px;
  margin-right: -7px;
  font-family: ben-yehuda;
}
.bookmark-triangle{
	width:0;
	height: 0;
    border-top: solid 3px transparent;
	border-right: solid 2px transparent;
	border-bottom: solid 3px #242424;
    border-left: solid 2px transparent;
	margin-top: -2px;
	margin-right: -2px;
}
.top-contact-center{
		width: calc(100% - 120px); padding-top: 4px;
	}
.top-contact-side{
		width: 60px;
}
#contact-select-issue{
	width: 90px;
	margin-left: 15px;
}
#contact-text{
	width: calc(100% - 105px);
}
.sort-type-headline{
  font-size: 13px;
  line-height: 14px;
}
.second-header-row{
	min-height: 32px;
	margin-top: 2px;
}
	#moreMobile{
		margin-right: 4px;
	}
	.menuButton-v02{
		font-size: 16px;
		margin-top: 4px;
	}
	
	.scrolled .logoBY-scroll-mobile-v02{
		position: absolute;
		right: calc(100% - 130px);
	}
.scrolled .logoBY-scroll-mobile-v02 img{
    max-height: 26px;
	margin-top: 2px;
}
.share-popup{
	width: 260px;
}
.share-popup{
		width: 180px;
	}
.by-card-header-v02{
			min-height: 28px;
}
.work-chapters-popup-mobile{
	right: calc(50% - 31px);
}
.a-b-pagination-frame{
	margin-bottom: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: solid 1px #907989;
	padding: 0 2px;
}
.a-b-pagination-frame a{
	flex: 1 0 9%;
	font-size: 12pt;
	text-align: center;
	line-height: 20px;
	padding: 0px 6px 2px 5px;
}
.BYD-switch{
	width: 160px;
	height: 28px;
	border-radius: 3px;
	border: solid 1px #660248;
	display: inline-flex;
 	margin-bottom: 18px;
	margin-top: 6px;
}
.author-page-top-rights{
 
}
.author-sort-area{
}
.topNavEntry{
	margin: 0 6px;
}
.reading-mode .col{
	padding-right: 0;
	padding-left: 0;
}

.reading-mode .by-card-v02{
	margin-top: 0;
}
	.reading-mode .rm-control-panel-mobile{
		margin: 0;
		width: calc(100% - 30px);
		top: 15px;
	}
	.popup-with-bottom-links{
		height: calc(100% - 54px);
	}
	.surprise-author-card-content-v02 {
  width: calc(100% - 100px);
}
.by2-icon{
    font-size: 12px;
}
.flash-popup-bg-v02{
		height: calc(100vh - 114px);
	}
.flash-author-popup-v02{
		height: calc(100vh - 114px);
	}
.flash-author-popup-v02 .by-card-content-v02{
		height: calc(100vh - 172px);
	}
	
	
}
