/* CSS Document */


@media only screen and (max-width: 1279px) {

  #header-general {
    width: 100%; }
	#header-author {
    width: 100%; }
	#header-text {
    width: 100%; }
	#header-about{
	width: 100%;
	}

  #content {
    width: 100%;
	}
  .topMenuItem-v02 {

	}

  .by-popup-v02 {
  width: 60%;
}
	.rm-control-panel{
	left: 30px;
}

.nested-content{
  padding-right: 0px;
}
.nested-content ul{
	padding-right: 0px;
}
.languanges-filters{
	padding-right: 24px;
}
.sort-type .by-icon-v02{
	margin-left: 2px;
}
.select-all-with-buttons .headline-4-v02{
	line-height: 22px;
}
}

@media only screen and (max-width: 1160px) {
  #menu {
    display: none; }

  .menuButton-v02 {
    display: block; }
}





