/* CSS Document */

@media only screen and (max-width: 479px) {

.scrolled .logoBY-scroll-mobile-v02{
		position: fixed;
		left: calc(50% - 60px);
		width: 140px;
		top: 3px;
	}
.author-info-v02 {
		width: 21px;
		height: 21px;
		font-size: 13px;
		line-height: 19px;
		top: 3px;
		left: 3px;
	}

.carousel-demo {
		width: calc(100% - 42px);
		height: 148px;
	}
.carousel-arrow-right-v02 {
		width: 20px;
		height: 140px;
		font-size: 18px;
		padding-top: 60px; 
		margin-right: -6px;
	}
.carousel-arrow-left-v02 {
		width: 20px;
		height: 140px;
		font-size: 18px;
		padding-top: 60px; 
		margin-right: 6px;
		margin-left: -6px;
	}

.author-card-v02{
		width: 80px;
		height: 148px;
		margin: 0 6px;
	}
.surprise-author-card-v02 {
		width: 80px;
		height: 148px;
		margin-left: 15px;
		margin-top: -4px; }
.about-author-card-v02 {
		width: 80px;
		height: 115px;
		margin-top: -4px; }

.surprise-work-card-v02 {
		width: 80px;
		height: 148px;
		margin-left: 15px;
		margin-top: -4px; }

.surprise-author-card-bookmark-fold-v02 {
		width: 84px;
		height: 4px;
		margin-left: 15px;
		margin-top: -4px; }
.about-author-card-bookmark-fold-v02 {
		width: 84px;
		height: 4px;
		margin-right: 11px;
		margin-top: -4px; }

.author-pic-v02 {
		width: 80px;
		height: 115px; }

.surprise-author-pic-v02 {
		width: 80px;
		height: 115px; }

.surprise-work-genre-v02 {
		width: 80px;
		height: 115px;
		padding-top: 24px; }

.surprise-author-name-v02 {
	padding-top: 0;
  }

.author-name-v02 {
	font-size: 11px;
	line-height: 11px;
		 }

.by-genre-icon-surprise-v02 {
		font-size: 36px;
	line-height: 36px;
}



#period-timeline {
		padding: 0 3px; }

#period-timeline div {
		width: 18%; 
	}

body {
		font-size: 12px;
		line-height: 14px; 
	}
.top-element{
		margin-top: 96px;
	}
#header > .row {
		margin-left: -15px;
		margin-right: -15px;
	}

.top-search-icon-mobile-v02 {
		padding-top: 2px;
	}

.by-icon-v02 {
		font-size: 14px; }
.by-icon-header-v02{
		font-size: 18px;
		vertical-align: -3px;
	}
.by-genre-icon-v02 {
		font-size: 32px;
		line-height: 32px;
	}

.volunteer-height{
		max-height: 226px;
	}
.statistics-box-v02 {
		height: 40px;
		border-radius: 12px; 
	}

.stat-big-v02 {
		font-size: 14px;
		font-weight: bold;
		line-height: 12px; 
	}
.stat-small-v02 {
		font-size: 8.4px;
		line-height: 8px;
		margin-top: 4px; 
	} 
.name-under-btn{
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}
.error-found{
		padding-top: 4px;
}
.error-found-col{
	padding: 0;
}
	
.toc h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h6 {
  font-size: 10px;
  margin-right:0;
  margin-bottom: 4px;
}
#actualtext h1{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h6 {
  font-size: 10px;
  margin-right:0;
  margin-bottom: 4px;
}
.credits h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h6 {
  font-size: 10px;
  margin-bottom: 4px;
}
.work-info-card{
	min-height: 125px;
}

	.headline-1-v02{
  font-size: 15px;
  line-height: 18px;
}
.headline-2-v02 {
  font-size: 14px;
 line-height: 15px; 
	}

.sidebar-opened{
  width: 80%;
  min-width: 280px;
}
	.surprise-btn-area-v02 {
  width: 132px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px; }

.surprise-btn-v02 {
  width: 132px;
  padding: 6px 12px;
  height: 36px; }

.surprise-again-btn-v02{
  width: 132px;
  padding: 6px 12px;
  height: 36px; 
}
.surprise-again-btn-area-v02{
  width: 132px;
}
.about-work-card-bookmark-fold-v02 {
  width: 85px;
  height: 3px;
  margin-right: 11px;
  margin-top: -3px;
}
.about-work-author-card-v02 {
  width: 80px;
  height: 115px;
  margin-right: 15px;
  margin-top: -3px;
}
.about-work-author-pic-v02 {
  width: 80px;
  height: 115px;
}	
	.tag{
		margin-bottom: 4px;
	}

	.author-main-info-card-v02{
	min-height: 150px;
}
	.reading-mode-icon-btn-v02{
  margin-left: 8px;
	padding: 2px;
	}
	.work-page-top-icons-mobile{
	bottom: 0;
}
	.top-left-icons-group{
		padding-top: 3px;
	}
	.credits{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
	.author-name-area{
		height: 33px;
	}
		.author-page-content{
	margin-top: 207px;
}
}
