/* CSS Document */

.scrolled .statistics-box-v02{ /* the order matters! This means statistics happening somewhere inside a .scrolled container --Asaf */
	display: none;
}
.scrolled .logoBY-v02 {
    max-width: 300px;
    object-fit: fill;
    padding-right: 4px;
	display: none;
}
.scrolled #top-bar {
    height: auto;
}

body {
  font-family: Alef;
  font-size: 14px;
  line-height: 18px;
  color: #242424;
}
p {
	margin-bottom: 12px;
}
.headline-1-v02 {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  margin-left: 6px;
  margin-bottom: 8px;}

.headline-2-v02 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 4px; }

.headline-3-v02 {
  font-weight: bold;
  margin-bottom: 0; }

a {
  color: #660248; }

a.dark-old-pink-v02 {
  color: #907989; }

a:hover {
  color: #2b0d22;
  text-decoration: none; }

#top-bar {
    padding: 0;
	position: fixed;
	top:0;
	z-index: 10;
}

#bottom-bar {
  margin-top: 24px;
  padding: 0; }

#header {
  position: fixed;
  top:0;
  padding: 0;
  z-index: 10;
}
#header-general{
  width: 90%;
  background-color: white;
}
#header-author{
  width: 90%;
  background-color: white;
}
#header-text{
  width: 90%;
  background-color: white;
}
.header-separator{
	width: 100%;
	height: 2px;
	background-color: white;
	padding: 4px 0 0 0;
  border-bottom: solid 2px #d9cdd5;}
#content-area{
	padding: 0;
}
#content {
  width: 90%;
	height: auto;
 }
.top-element {
    margin-top: 124px;
}


#footer {
  width: 100%;
  height: auto;
  min-height: 100px;
  color: #ffffff;
  text-align: center;
  background-color: #430230;
  padding-top: 12px;
  padding-bottom: 30px; }
ol {
	counter-reset:li;
	margin-right:0;
	padding-right: 22px;
}
ol > li {
	position:relative;
	margin:2px 0 0 0;
	list-style:none;
}
ol > li:before {
	content:counter(li)'.';
	counter-increment:li;
	position:absolute;
	top:0px;
	right:-22px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:22px;
}




.ul-inside{
	counter-reset:li;
	margin-right:0;
	margin-bottom: 12px;
	padding-right: 0;
}
.ul-inside> li {
	position:relative;
	margin:2px 0 0 0;
	list-style:none;
}

.secondary-item{
	text-indent: 15px;
}

.purple-v02 {
  color: #660248; }

.purple-v02:hover {
  color: #2b0d22; }

.old-pink-bg-v02 {
  background-color: #d9cdd5; }

.footer-text-v02 {
  color: #d9cdd5;
  margin-top: 10px;
  margin-bottom: 24px; }

.logoBY-v02 {
  width: 300px;
	height: 69px;
  object-fit: fill;
  padding-right: 0;
padding-left: 6px;
	padding-top: 2px;
}


.slogan-v02 {
  width: 304px;
  font-size: 14.8px; }
.top-logo-row-v02{
}
.statistics-box-v02 {
	width: 100%;
	height: auto;
	background-color: #eeeced;
	border-radius: 18px;
	margin-top: 12px;
}
.statistics-box-v02>.row {
	margin: 0;
}

.statistics-v02 {
  padding: 4px 0 0 0px;
  text-align: center; }

.stat-big-v02 {
  font-size: 27px;
  line-height: 21px;
  color: #660248;
  margin-top: 2px; }

.stat-small-v02 {
  font-size: 14px;
  line-height: 14px;
  margin-top: 4px; }

.top-btn-group-v02 {
  float: left;
  margin: 12px 0 6px 0; }
.scrolled .top-btn-group-v02 {
  margin: 4px 0 6px 0; }

.btn-small-outline-v02 {
  min-width: 28px;
  height: 28px;
  border-radius: 4px;
  border: solid 1px #660248;
  vertical-align: text-bottom;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0; }

.btn-small-outline-v02:hover {
  background-color: #d9cdd5; }

.btn-text-v02 {
  font-weight: bold;
  padding: 0 12px;
  color: #660248; }

.iconNearText-v02 {
  margin-left: 12px;
  vertical-align: text-bottom; }
.copyright-icon{
  margin-left: 4px;
  margin-right: 0;
  vertical-align: text-bottom;
}
.internal-genre-icon{
  margin-left: 4px;
  vertical-align: text-bottom;
}

.icons-group-v02 {
  display: inline;
 }

.icons-seperator {
  height: 28px;
  width: 1px;
  background-color: #d9cdd5;
  display: inline;
  float: right; 
  margin-left: 6px;}
.icons-separator-white{
  height: 28px;
  width: 1px;
  background-color: #ffffff;
  display: inline;
  float: right;
  margin-left: 8px;
}

.by-icon-v02 {
  font-family: ben-yehuda;
  font-size: 18px; }


.by-icon-header-v02{
  font-family: ben-yehuda;
  font-size: 24px;
	vertical-align: -5px;
}
.by-icon-top-v02 {
  font-family: ben-yehuda;
  font-size: 18px; }

.icon-in-group-v02 {
  margin-left: 8px;
  display: inline;
  float: right;
  padding-top: 4px; }

.by-icon-in-button-v02 {
  font-family: ben-yehuda;
  font-size: 18px; }

.accessibility-v02 {
  background-color: #eeeced; }

#genre {
  min-height: 400px; }

#genre-mobile {
  display: none; }

.by-genre-icon-v02 {
  font-family: ben-yehuda;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  padding: 0;
  margin-bottom: 0; }

.by-genre-icon-surprise-v02 {
  font-family: ben-yehuda;
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  font-weight: normal;
}

.by-genre-icon-v02:hover {
  color: #430230; }

.by-genre-name-v02 {
  text-align: center;
  line-height: 20px;
  margin: 0 6px;
}

.by-genre-details-v02 {
  text-align: center;
  line-height: 18px;
  margin-bottom: 0; }


.byPeriodName-v02 {
  text-align: center;
  line-height: 20px;
  margin-bottom: 6px; }

.byPeriodDetails-v02 {
  text-align: center;
  line-height: 18px;
  margin-bottom: 0; }

.by-dropdown-v02 {
  position: relative;
  display: inline-block; }

.topMenuItem-v02 {
  display: inline-block;
  padding-right: 0;
  /*padding-left: 14px;*/ }

.topMenuItemMobile-v02 {
  display: block;
  padding-left: 2px;
  color: #242424;
  line-height: 36px;
  font-weight: bold;
  background-color: #d9cdd5;
  border-bottom: 2px solid #907989; }

.by-nav-item-v02 {
  width: 100%;
  color: #660248;
  font-weight: bold;
  padding: 0 4px;
}

.by-nav-item-v02:hover {
  color: #2b0d22;
  text-decoration: none; }

.by-nav-item-v02:active {
  color: #2b0d22;
  text-decoration: none;
  background-color: #d9cdd5;
  border-radius: 3px; }

.by-footer-nav-item-v02{
  width: 100%;
  margin: 10px;
	line-height: 30px;
  display:inline;
  white-space: nowrap;
 }

.by-footer-nav-item-v02 a{
  color: #ffffff;
  text-decoration: none; }

.by-footer-nav-item-v02 a:hover {
  color: #d9cdd5;
}
.footer-nav-icon-v02 {
  font-size: 18px;
  margin-left: 4px;
  vertical-align:bottom;}
.footer-nav-text{
		line-height: 32px;
}

.by-dropdown-content-v02 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  margin-top: 3px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.by-dropdown-v02 #moreMobile {
  position: relative;
  display: inline-block;
}
.by-dropdown-v02 #moreMobile-author {
  position: relative;
  display: inline-block;
}

.by-dropdown-header-v02 {
  background-color: #d9cdd5;
  padding: 6px 15px;
  font-size: 15px;
  font-weight: bold;}

.by-dropdown-content-v02 a {
  padding: 6px 15px;
  text-decoration: none;
  display: block;
  color: #660248; }

.by-dropdown-content-v02 a:hover {
  background-color: #eeeced;
  text-decoration: none;
  color: #2b0d22; }

.top-search-box-v02 {
  height: 36px;
  border: solid 1px #660248;
  border-radius: 6px;
  position: relative; }

.top-search-select-v02 {
  width: 130px;
  height: 34px;
  line-height: 34px;
  border-left: solid 1px #660248;
  display: inline-block;
  position: relative; }

.top-search-select-v02 select {
  width: 130px;
  border: none;
  height: 34px;
  background-color: transparent; }

.top-search-select-v02 select option {
  padding: 6px 15px; }

.top-search-v02 {
  display: inline; }

/*	width: calc(100%-140px); */
input {
  border: none;
  width: 120px; }

input::placeholder {
  color: #907989; }

.search-icon-v02 {
  position: absolute;
  left: 8px;
  top: 8px; }

.top-search-mobile-v02 {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  padding-top: auto;
padding-bottom: auto;}

.top-search-icon-mobile-v02 {
  position: absolute;
  left: 0;
  top: 0;
}

.content-v02 {
  width: 90%; }

.by-card-v02 {
  position: relative;
  width: 100%;
  background-color: #eeeced;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-top: 15px; }

.by-popup-v02 {
  width: 50%;
  background-color: #eeeced;
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.popup-top{
  width: 100%;
  height: auto;
  background-color: #eeeced;
  position: fixed;
  top:0;
  left: 0;
  display: none;
}

.by-card-header-v02 {
  width: 100%;
  padding: 8px 15px 4px 15px;
  border-bottom: solid 2px #d9cdd5; }
.by-card-header-left-v02 {
  width: 100%;
  padding: 8px 15px 4px 15px;
  border-bottom: solid 2px #907989; }

.by-card-header-type2-v02 {
  width: 100%;
  padding: 8px 15px 4px 15px;
  border-bottom: solid 2px #d9cdd5; }

.by-side-card-header-v02 {
  width: 100%;
  padding: 8px 15px 4px 15px; }

.by-card-content-v02 {
  position: relative;
  padding: 15px;
  overflow: hidden; }

#project-finance-support {
  width: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 15px; }

.by-button-v02 {
  width: auto;
  padding: 0 10px;
  height: 32px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  background-color: #660248;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  color: #ffffff; }

.by-button-v02:hover {
  background-color: #430230; }

#authors-surprise {
  height: 400px; }

#authors-surprise-replaced {
  margin-bottom: 3px;
  height: 400px; }

#authors-surprise-initial {
  background-image: url("/assets/surprise-author-b9.jpg");
  background-size: 841px 312px;
  background-repeat: repeat-x;
  height: 361px;
  width: 100%; }

#works-in-project {
  height: 400px; }

#works-surprise {
  height: 400px; }

#works-surprise-replaced {
  margin-bottom: 3px;
  height: 400px }

#works-surprise-initial {
  background-image: url("/assets/surprise-work-b9.jpg");
  background-size: 841px 312px;
  background-repeat: repeat-x;
  height: 346px;
  width: 100%; }
.surprise-work-height-v02{
	padding-bottom: 70px;
}

#periods {
  min-height: 400px; }

#period-timeline {
  height: 24px;
  width: 100%;
  margin: 0;
  padding: 0 6px;
  background-color: #d9cdd5; }

#period-timeline div {
  width: 19%;
  display: inline-block; }

.surprise-btn-area-v02 {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px; }

.surprise-btn-v02 {
  width: 160px;
  height: 50px; }

.link-to-all-v02 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  line-height: 32px;
  }

.carousel-arrow-right-v02 {
  width: 24px;
  height: 280px;
  font-family: ben-yehuda;
  font-size: 21px;
  display: inline-block;
  vertical-align: top;
  padding-top: 125px; }

.carousel-arrow-left-v02 {
  width: 24px;
  height: 280px;
  font-family: ben-yehuda;
  font-size: 21px;
  display: inline-block;
  vertical-align: top;
  padding-top: 125px;
  text-align: left;
  margin-right: 12px;}

.carousel-demo {
  display: inline-block;
  width: calc(100% - 68px);
  height: 280px;
  overflow: hidden;
  }

.slick-arrow{
	color:#660248;
	cursor: default;
}
.slick-arrow:hover{
  color: #2b0d22;
  cursor: pointer;
}
.slick-disabled{
  color: #d9cdd5;
  cursor: default;
}
.slick-disabled:hover{
  color: #d9cdd5;
  cursor: default;
}

.author-card-v02 {
  width: 160px;
  height: 280px;
  background-color: #660248;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin: 0 12px;
  display: inline-block;
  vertical-align: top;
  position:relative;
}

.author-pic-v02 {
  width: 160px;
  height: 230px;
  border-radius: 3px 3px 0 0;
  object-fit: fill; }

.author-name-v02 {
    padding: 3px 4px 4px 4px; }

.surprise-author-name-v02 {
  padding-top: 0px; }

.author-info-v02 {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 1px #660248;
  font-family: ben-yehuda;
  font-size: 20px;
  line-height: 28px;
  color: #660248;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2; }

.surprise-author-card-v02 {
  width: 160px;
  height: 280px;
  background-color: #660248;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px 0 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-left: 40px;
  margin-top: -6px;
  float: left;
  z-index: 2;
  position: relative;}
.about-author-card-v02 {
  width: 160px;
  height: 230px;
  background-color: #660248;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px 0 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-right: 15px;
  margin-top: -6px;
  float: right;
  z-index: 2;
  position: relative;}

.surprise-author-card-v02:hover {
  background-color: #430230; }

.surprise-work-card-v02 {
  width: 160px;
  height: 280px;
  background-color: #660248;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px 0 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-left: 40px;
  margin-top: -6px;
  float: left;
  z-index: 2; }

.surprise-work-card-v02:hover {
  background-color: #430230; }

.surprise-author-card-bookmark-fold-v02 {
  width: 168px;
  height: 6px;
  object-fit: fill;
  float: left;
  margin-left: 40px;
  margin-top: -6px;
  z-index: 1; }
.about-author-card-bookmark-fold-v02 {
  width: 168px;
  height: 6px;
  object-fit: fill;
  float: right;
  margin-right: 7px;
  margin-top: -6px;
  z-index: 1; }

.surprise-author-pic-v02 {
  width: 160px;
  height: 230px;
  border-radius: 3px 0 0 0;
  object-fit: cover; }
.about-author-pic-v02 {
  width: 160px;
  height: 230px;
  border-radius: 3px 0 3px 3px;
  object-fit: cover; }

.new-info-v02 {
  font-family: ben-yehuda;
  font-size: 18px;
  color: #d9cdd5;
  position: relative;
  top: 6px;
  float: left;
  margin-left: 8px;
  z-index: 2; }

.flash-work-v02 {
  min-height: 815px;
  background-color: #d9cdd5; }

.flash-author-v02 {
  min-height: 815px;
  background-color: #d9cdd5; }

.flash-bg-v02 {
  background-image: url("/assets/Stage-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 815px;
  width: 100%; }

.flash-popup-bg-v02 {
  background-image: url("/assets/Stage-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%; }

.flash-text-v02 {
  padding-top: 0;
  max-height: 684px;
  overflow: hidden; }

.flash-popup-text-v02 {
  padding-top: 0;
  height: auto; }

.left-v02 {
  float: left; }

.flash-footer-v02 {
  margin-top: 15px; }

.volunteer-v02 {
  min-height: 400px;
  background-color: #d9cdd5; }

#volunteer-bg {
  background-image: url("/assets/giving hand.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  width: 100%; }

.volunteer-about-v02 {
  height: 260px;
  background-color: #eeeced;
  padding: 15px; }

.volunteer-text-v02 {
  width: 75%;
  display: inline-block; }

.volunteer-side-pic-v02 {
  width: 20%;
  display: inline-block;
  float: left; }

.volunteer-pic-v02 {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 210px; }

.whats-new-v02 {
  background-color: #d9cdd5; 
  }
.left-side-card-v02 {
  background-color: #d9cdd5; }

#whats-new-bg {
  background-image: url("/assets/bullhorn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1175;
  min-height: 200px;
  width: 100%; }

.new-card-v02 {
  height: 140px;
  background-color: #eeeced;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  overflow-y: hidden; }

.new-card-v02.double-height-v02 {
  height: 270px; }

.new-card-right-v02 {
  width: 100px;
  height: 100%;
  float: right;
  margin-left: 15px; }

.new-card-left-v02 {
  padding: 6px 15px 15px 15px;
  height: 100%; }

.new-card-pic-v02 {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
.recommend-card-pic-frame-v02{
  width: 60px;
  height: 60px;
  background-color: #907989;
  margin-right: 20px;
}
.recommend-card-pic-v02{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.recommend-card-pic-placeholder{
  font-family: ben-yehuda;
  font-size: 48px;
	line-height: 60px;
  color: #d9cdd5;
  width:100%;
  height: 60px;
  text-align: center;
}
.recommend-card-name{
	text-align: center;
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 12px;
}
.recommend-date{
	color: #907989;
	text-align: center;
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
}

.new-card-type-v02 {
  height: 100%;
  font-family: ben-yehuda;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  background-image: url("/assets/new_bg1.png");
  background-size: cover; }

.new-card-type-v02.double-height-v02 {
  padding-top: 120px;
  background-image: url("/assets/new_bg2.png");
  background-size: cover; }

.new-image-frame-v02 {
  width: 100%;
  height: 60%; }

.new-image-v02 {
  width: 100%;
  object-fit: cover; }

.new-headline-v02 {
  margin-top: 0px;
  margin-bottom: 0; }
.recommend-card-v02 {
  height: 140px;
  background-color: #eeeced;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  overflow-y: hidden; }
.recommend-card-right-v02 {
  width: 100px;
  height: 100%;
  float: right;
 }

.recommend-card-left-v02 {
  padding: 6px 15px 15px 15px;
  height: 100%; }

.surprise-again-btn-v02 {
  width: 150px;
  height: 36px;
  background-color: #eeeced;
  padding: 0 10px;
  border: solid 1px #660248;
  border-radius: 8px;
  font-weight: bold;
  color: #660248; }

.again-icon-v02 {
  font-weight: normal;
  padding-left: 6px; }

.surprise-again-btn-v02:hover {
  background-color: #d9cdd5; }

.surprise-again-btn-v02:focus {
  outline: none; }
.surprise-author-card-content-v02 {
  width: 100%; }

.surprise-again-footer-v02 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 15px 15px 40px;
  border-top: solid 2px #d9cdd5;}

.surprise-again-btn-area-v02 {
  width: 150px;
  margin: auto  }

.surprise-work-genre-v02 {
  width: 160px;
  height: 230px;
  border-radius: 3px 0 0 0;
  background-image: linear-gradient(180deg, #cdcbcb, #f0f0f0 3%, #ffffff 8%, #ffffff);
  padding-top: 48px; }

.surprise-work-card-content-v02 {
  width: 100%;
   }

.popup-x-v02 {
  position: absolute;
  left: 0px;
  top: 8px;
  font-size: 21px;
  text-align: center;
  width: 40px;
  height: 21px;
}

.flash-author-popup-v02 {
  background-color: #d9cdd5;
  height: auto; }

.donation-btn-v02 {
  height: 36px; }

.top-donation-desk-area-v02 {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block; }
.top-logo-scroll-mobile{
	display: none;
}
.topMobileBtns-v02 {
  display: none; }

nav li a {
  box-sizing: border-box; }

nav ul {
  display: inline; }

#menu {
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 10px;
  display: block; }

.menuItem-v02 {
  float: left; }

.menuButton-v02 {
  font-family: ben-yehuda;
  font-size: 18px;
  display: none;
  padding-top: 8px;
  cursor:pointer;
}

nav ul {
  list-style-type: none;
  display: none;
  padding: 0;
  float: none; }

nav li {
  display: inline;
  float: right; }

nav a {
  display: inline-block;
  width: 100%;
  text-decoration: none; }

.sidenav-v02 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #d9cdd5;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 40px;
  font-size: 14px;
  display: none;
}

.sidenav-v02 a {
  padding: 8px 0px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px}

.sidenav-v02 .closebtn-v02 {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 30px;
  margin-left: 0; }

.sidenav-v02 .mobile-menu-top {
  position: absolute;
  top: 12px;
  right: 40px;
  font-weight: bold;
  color: #907989; }

ul, #myUL {
  list-style-type: none; }

#myUL {
  margin: 0;
  padding: 0; }

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.caret::before {
  content: "\25C0";
  font-size: 12px;
  color: #660248;
  display: inline-block;
  margin-left: 6px; }

.caret-down::before {
  content: "\25BC";
  font-size: 12px; }

.nested {
  padding-right: 0;
  display: none; }

.nested a {
  background-color: #ffffff;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px; }

.nested a:hover {
  background-color: #eeeced; }

.active {
  display: block;
  padding-right: 0; }

ul #menuMobile {
  padding-right: 0; }

.empty {
  display: block; }

.byPeriod {
  width: 18%;
  display: inline-block; }

.byPeriodTop-v02 {
  width: 20%;
  height: 120px;
  margin-top: 30px;
  padding: 6px;
  background-color: #d9cdd5;
  border-radius: 3px;
  border-bottom: solid 8px #907989;
  margin-bottom: 6px;
  display: inline-block;
  vertical-align: bottom; }

.byPeriodTop-v02:hover {
  background-color: #C6B8C2; }

.byPeriodbottom-v02 {
  width: 20%;
  height: 120px;
  padding: 6px;
  margin-bottom: 30px;
  background-color: #d9cdd5;
  border-radius: 3px;
  border-top: solid 8px #907989;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top; }

.byPeriodbottom-v02:hover {
  background-color: #C6B8C2; }
.firstPeriodBottom{
  margin-right: 1%;
}

.periodLength-v02 {
  height: 32px;
  display: inline-block; }

.periodLine-top {
  width: 100%;
  height: 8px;
  margin-top: 24px; }

.periodLine-bottom {
  width: 100%;
  height: 8px;
  margin-top: 6px;
  margin-bottom: 24px;
  background-color: #907989; }

.periodParentheses-v02 {
  object-fit: cover; }

.number-of-works {
  color: #907989; }

.iconInMenu {
  vertical-align: middle; }

.bottom-right-link {
  position: absolute;
  right: 15px;
  bottom: 15px;
  line-height: 32px;
}

.left-arrow {
  font-family: ben-yehuda;
  padding-right:4px;
  font-size: 12px;
  vertical-align:middle; }
.right-arrow {
  font-family: ben-yehuda;
  padding-left: 4px;
  font-size: 12px;
  vertical-align:middle; }
.right-side-icon {
  font-family: ben-yehuda;
  padding-left: 4px;
  font-size: 14px;
	line-height: 32px;
  vertical-align:middle; }

.ellipsis:after {
	content: '...';
	margin-right: 3px;
	display: inline-block;
}

.text-height-author {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  max-height: 180px;
}

.text-height-author-2 {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  max-height: 140px;
  margin-bottom: 70px;
}
.text-height-work{
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  max-height: 140px;
}

.text-height-works-in-project {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
	max-height: 480px;
}

.text-height-work {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  max-height: 144px;
}


.top-works {
  position: relative;
  max-height: 132px; }

.text-height-new {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
	max-height: 90px;
}
.text-height-new-double {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;}
.text-height-recommend{
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
	max-height: 68px;
}
.text-height-flash-work {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 35;
  -webkit-box-orient: vertical;
	max-height: 630px;
}
.text-height-volunteer{
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
	max-height: 215px;
}

.read-more-v02{
 margin-top: 2px;
	margin-bottom: 12px;
}
.works-most-read{
	padding-right: 0;
}
.works-most-new{
	padding-left: 0
}

.donation-area-v02{
	padding-left: 33%;
}
.logoBY-scroll-mobile-v02{
	display: none;
}
.scrolled .logoBY-scroll-mobile-v02{
	display: block;
    max-height: 46px;
    text-align: center;
    width: 240px;
}
.scrolled .logoBY-scroll-mobile-v02 img{
    max-height: 46px;
}


#breadcrumbs{
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
}

.scrolled #breadcrumbs{
	display: none;
}
.breadcrumbs-text{
	display: inline;
	font-size: 13px;
}
.breadcrumbs-arrow {
  font-family: ben-yehuda;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 10px;
  vertical-align:middle;
  display: inline;
}
.author-page-top {
  position: relative;
  z-index:5;
}
.author-page-top-info-card{
  width: 100%;
  padding: 6px 15px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  background-color: #d9cdd5;
  position: relative;
  z-index: 5;
}
.author-name-years{
	display: inline;
}
.author-page-top-name{
  display: inline;
	margin-left: 0;
}
.author-page-top-years{
	display: inline;
}
.author-page-top-rights{
	margin-right: 12px;
	padding-bottom: 5px;
  display: inline;
}
.author-page-top-sort{
	margin-right: 12px;
  display: inline;
}

.toggle-background-no{
  width: 44px;
  height: 22px;
  border-radius: 11px;
  border: solid 2px #907989;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  margin-right: 6px;
  cursor:pointer;
}
.toggle-button-no{
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #907989;
  z-index: 2;
  position: absolute;
  top: 2px;
  right: 2px;
}
.toggle-background-yes{
  width: 44px;
  height: 22px;
  border-radius: 11px;
  border: solid 2px #907989;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  margin-right: 6px;
  cursor:pointer;
}
.toggle-button-yes{
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #660248;
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 2px;
}
.top-left-icons-group{
	display: inline;
	float: left;
	padding-top: 0;
}
.author-page-top-icons-desktop{
	display: inline-block;
	float: left;
}
.author-page-top-icons-mobile{
	display: none;
}
.author-page-top-sort-desktop{
	display: inline-block;
}
.author-page-top-sort-mobile{
	display: none;
	padding-top: 2px;
}

.side-menu-area{
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
}
.side-menu-area-left{
display: none;}
.side-menu{
  width: 100px;
}
.nav{
display: flex;
	width: 100px;
}
#genre-nav{
  width: auto;
}
.nav-link{
	background-color: #eeeced;
	height:68px;
	width: 202px;
	border: none;
	color:#660248;
	cursor:pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.navbar-nav .nav-link{
	padding: 6px;
}
.nav-link:hover{
	background-color: #d9cdd5;
	color:#660248;
}
.nav-link.active{
	color: #ffffff;
	background-color: #660248;
}
.nav-link-arrows{
	height:30px;
	width: 100%;
}
.nav-link-chapter{
	height:30px;
	width: 100%;
	text-align: right;
	padding: 6px;
}
.nav-chapter-name{
	width: 84px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	justify-content:flex-start;
}

.nav-link-edit{
	line-height: 56px;
	display: none;
}
.side-menu-icon{
	font-size:24px;
	line-height: 28px;
	font-family: ben-yehuda;
	text-align: center;
}
.side-menu-name{
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
}
.side-menu-arrow{
  font-size:18px;
  line-height: 24px;
  font-family: ben-yehuda;
  text-align: center;
}
.side-menu-headline{
	width: auto;
	padding-top: 12px;
}
.error-found-row{
  width: 100%;
  position: absolute;
  margin: 0;
  z-index: 4;
}
.error-found-btn {
  height: auto;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  border: solid 2px #d9cdd5;
  background-color: #ffffff;
  float:left;
  margin-top: -4px;
  color: #660248;
  padding: 0;
}
.error-found{
  padding: 4px 6px 3px 6px;
}
.error-found:hover{
  background-color: #d9cdd5;
}
.error-found-text{
  text-align: center;
  display: inline-block;
  line-height: 13px;
  }
.error-found-icon{
  font-family: ben-yehuda;
  font-size: 22px;
  margin-right: 4px;
  display: inline-block;
}
.work-info-card{
	min-height: 210px;
}
.error-found-guide{
	padding: 3px 6px;
	background-color: #eeeced;
}
.work-title{
	margin-bottom: 24px;
}
.work-area{
	margin:0;
}
.work-side-color{
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	background-image: linear-gradient(to bottom, #c39bb7, #ebe3e8);
	padding: 0;
}
.work-content{
	padding: 15px;
}
.work-genre {
  height: 400px;
  font-family: ben-yehuda;
  font-size: 260px;
  line-height: normal;
  color: #2b0d22;
  overflow: hidden;
  text-align: left;
  padding-right: 0;
}
.author-main-info-card-v02{
	min-height: 240px;
}
.date-range{
	white-space: nowrap;
}
.name-under-btn{
  width: calc(100% - 90px);
  margin-bottom: 12px;
}
.error-found-col{
	padding-left: 25px;
	padding-right: 0;
}
.toc h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}
.toc h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.toc h6 {
  font-size: 12px;
  margin-right:0;
  margin-bottom: 4px;
}
.toc> ul {
	  padding-right: 0;
}
#actualtext h1{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}
#actualtext h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h4{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h5{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
#actualtext h6{
  font-size: 12px;
}
.work-page-top {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index:5;
}
.work-page-top-info-card{
  width: 100%;
  padding: 6px 15px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  background-color: #d9cdd5;
  position: relative;
  z-index: 5;
}
.work-page-top-name-and-author{
  width: 63%;
  display: inline-block;
}
.field-v02 {
  height: 28px;
  line-height: 26px;
  border: solid 1px #660248;
  border-radius: 6px;
  padding: 0 12px;
  background-color: #eeeced;
}
.field-label{
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 6px;
}
.field-v02 {
  height: 28px;
  line-height: 26px;
  border: solid 1px #660248;
  border-radius: 6px;
  padding: 0 12px;
  background-color: #eeeced;
}
.work-chapters-dropdown-field-desktop{
	width: 35%;
	float: left;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left:10px;
}
.work-chapters-dropdown-field-mobile{
	width: 48%;
	float: left;
	position: absolute;
	bottom: 0;
	left:0px;
	display: none;
}
.dropdown-arrow{
  font-family: ben-yehuda;
  font-size: 14px;
  display: inline;
  float: left;
}
.reading-mode-btn-v02{
	background-color: #660248;
	color: white;
	margin-left: 15px;
}
.reading-mode-btn-v02:hover{
    background-color: #2b0d22;
}
.reading-mode-icon-btn-v02{
	background-color: #660248;
	color: white;
	margin-left: 8px;
	padding: 0;
}
.reading-mode-icon-btn-v02:hover{
	background-color: #660248;
}
.work-page-top-icons-desktop{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 15px;
	float: left;
}
.work-page-top-icons-mobile{
	display: none;
	position: absolute;
	bottom: 2px;
	left: 15px;
}
.work-side-menu-area{
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;;
}
.work-side-menu-area-left{
display: none;}

.work-side-menu{
	-ms-flex: 0 0 130px;
    flex: 0 0 130px;
	display: block;
}
#moreMobile{
	padding-top: 4px;
}
.prose-side-icon{
  background-image: url("/assets/work_side_icons_prose.svg");
  background-repeat: no-repeat;
  background-size:auto;}
.by-side-menu-seperator{
  display: none;
  width: 100%;
  border-bottom: solid 2px #d9cdd5; }

.by-horizontal-seperator-light {
  width: 100%;
  margin-top: 14px;
  border-bottom: solid 2px #d9cdd5;
  opacity: 0.5;
}


.about-work-card-bookmark-fold-v02 {
  width: 139px;
  height: 5px;
  object-fit: fill;
  float: right;
  margin-right: 8px;
  margin-top: -5px;
  z-index: 1; }

.about-work-author-card-v02 {
  width: 132px;
  height: 190px;
  border-radius: 6px 0 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-right: 15px;
  margin-top: -5px;
  float: right;
  z-index: 2;
  position: relative;}

.about-work-author-pic-v02 {
  width: 132px;
  height: 190px;
  border-radius: 3px 0 0 0;
  object-fit: cover; }

.tag {
  min-height: 18px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #eeeced;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-left: 4px;
  display: inline;
  border: solid 1px #907989;
}
.tag:hover {
  background-color: #d9cdd5;
  border: solid 1px #660248;
  color: #660248;
}
.card-with-bottom-links{
	padding-bottom: 62px;
}
.whats-new-content{
	  height: 1103px;
}
.works-in-project-content{
	height: 360px;
}
.volunteer-content{
	height: 364px;
}
.card-with-button{
	padding-bottom: 62px;
}
.button-to-full-v02 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  }
.flash-content{
	height: 771px;
}
.author-whats-new-content{
	  height: auto;
}
#author-whats-new-bg {
  background-image: url("/assets/bullhorn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
  width: 100%; }
.work-name-top-desktop{
	display: block;
}
.work-name-top-mobile{
	display: none;
}
.work-details{
	padding-bottom: 12px;
}
.mobile-work-details{
	display: none;
}
.last-item{
	margin-bottom: 0;
}
.new-authors-headline{
	margin-top: 15px;
}
.whats-new-popup-content{
	min-height: 296px;
}
.error-found-row{
  overflow-y: visible;
  height: 50px;
}
.error-found-col{
  height: min-content;
}
.credits{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
.credits h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}
.credits h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.credits h6 {
  font-size: 12px;
  margin-bottom: 4px;
}
.credits > ul {
  padding-right: 0;
}
.dropdown_full-width{
	width: 100%;
}
.work-chapters-dropdown-field-desktop:hover #moveToChapter_content_desktop{
	display:block;
}
.dropdown-menu-seperator{
  width: 100%;
  border-bottom: solid 2px #d9cdd5; }
.dropdown-content-mobile a{
	display: block;
	padding: 10px 15px;
}
.dropdown-content-mobile{
	padding: 0;
}
.author-name-area{
	display: flex;
	height: 50px;
    justify-content: center;
	align-items: center;
}
.author-page-content{
	margin-top: 186px;
}
.text-page-content{
	margin-top: 228px;
}
.stick-to-top{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#genrenav{
	padding-top: 2px;;
	padding-right: 0;
}
.side-nav-col{
	padding-right: 0;
}
.search-drop-down{
	width: 100%;
	padding: 0 4px;
}

.author-sort-area{
	padding: 0;
}
.author-page-top-icons{
	float:left;
}
#chapternav{
	padding-right: 0;
}
#chapter-nav{
	margin-top: 10px;
	width: auto;
}
.top-space{
	width: 100%;
	height: 4px;
	background-color: white;
}
.scrolled #header-general{
	padding-to.side-nav-colp: 4px;
}
#nav-more-icon a{
	cursor: pointer;
}
