/* CSS Document */

@media screen and (max-width: 767px) {
	header.scrolled #top-bar {
		height: auto;
	}
	header.scrolled #top-bar .scrolled-top-row-v02 {
		display: none;
	}
	#header{
		width: 100%;
	}

.text-height-author {
  -webkit-line-clamp: 2;
  max-height: 40px;
}

.text-height-author-2 {
  -webkit-line-clamp: 8;
  max-height: 160px;
}


.byPeriod {
  width: 17%;
 }

.byPeriodTop-v02 {
  width: 21%;
}

.byPeriodbottom-v02 {
  width: 21%;
}

.firstPeriodBottom{
  margin-right: 2%;
}

.works-most-read{
  padding-right: 0;
  padding-left: 0;
}
.works-most-new{
  padding-right: 0;
  padding-left: 0;
  margin-top: 12px;
}
.surprise-author-left-side{
  margin-top: 0;
	}
.popup-top{
  position: static;
  width: calc(100% + 30px);
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0px;
  padding-right: 0px;
}

.by-popup-v02 {
  width: calc(100% + 30px);
  height: 100%;
  box-shadow: none;
  position: static;
  left: 0;
  margin-top:0px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: solid 2px #d9cdd5;
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
}
.by-dual-popup{
  width: 92%;
  background-color: #eeeced;
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
}
.share-popup{
	width: 240px;
}
.share-name{
	display: none;
}
.by-popup-v02-share{
  width: 100%;
  height: 140px;
  box-shadow: none;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top:0px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.popup-x-v02 {
  display: block;
}
.popup-with-bottom-links{
		height: calc(100% - 62px);
	}
	.author-page-top-name{
		line-height: 36px;
	}
	.author-page-content{
		margin-top: 222px;
	}

	.desktop-only{
		display: none;
	}
	.mobile-only{
	display: block;
}
.dropdown-menu-seperator{
  display:block;
  width: calc(100% + 30px);
  padding: 0px;
  margin: 0;
}
	.curatorial-content{
	display: block;
}
	.print .col-12{
	padding-right: 60px;
	padding-left: 60px;
}
		.share-option{
	padding-top: 0px;
}
.by-card-header-v02 {
  width: 100%;
  padding: 8px 15px 4px 15px;
  margin-right: 0px;
}
.flash-popup-bg-v02 {
  width: calc(100% + 30px); 
	margin-left: -15px;
	margin-right: -15px;
}



.modal-dialog {height: 100%;}

.modal-content {height: 100%;}
	
.by-popup-v02-share .popup-top{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px #d9cdd5;
}
.bottom-button-area .close-btn{
	display: none;
}
	.top-contact-center{
		padding: 0;width: calc(100% - 160px); padding-top: 1px;text-align: center;
	}
	.top-contact-side{
		width: 80px;
		padding: 0;
	}
#contact-select-issue{
	width: 130px;
	margin-left: 15px;
}
#contact-text{
	width: calc(100% - 145px);
}
#contact-text .text-area-field{
		height: calc(100% - 52px);
}	
	.contact-select-issue-desktop{
	display: none;
}
.contact-select-issue-mobile{
	display: block;
}
.anthology-top{
  position: static;
  width: calc(100% + 30px);
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0px;
  padding-right: 0px;
}
.anthology {
  width: calc(100% + 30px);
  height: 100%;
  box-shadow: none;
  position: static;
  left: 0;
  margin-top:0px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: solid 2px #d9cdd5;
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
}
	.anthology-select-desktop{
	display: none;
}
.anthology-select-mobile{
	display: block;
}
#volunteer-popup{
	max-width:calc(100% + 30px);
}
#texts-about-author-popup{
	    background-color: #eeeced;
	}
#author-whats-new-popup{
	    background-color: #eeeced;
	}
.sort-by-desktop{
	display: none;
}
.sort-by-mobile{
	display: block;
	margin-top: 16px;
}
.author-side-sort{
  display:none;
}
.author-mobile-filters-area .headline-2-v02{
		display: inline;
	}
.author-mobile-sort-and-filter{
  width: 100%;
  height: 100%;
	margin-bottom: 200px;
	}
.sticky-top{
  position: sticky;
  top:0;
  z-index: 30;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	}
.sticky-bottom{
  position: sticky;
  bottom:0;
  z-index: 30;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.4);
  background-color: #d9cdd5;
	}
.internal-notification .popup-x-v02{
  display: block;
}
.system-notification{
}
.internal-notification-content{
  display: block;
  padding-bottom: 6px;
}
.internal-notification-pic{
  display: flex;
	justify-content: center;
	margin-bottom: 4px;
}
.internal-notification-text{
	text-align: center;
}
	.scrolled .logoBY-scroll-mobile-v02{
		position: absolute;
		right: calc(100% - 120px);
	}
.scrolled .logoBY-scroll-mobile-v02 img{
    max-height: 32px;
	margin-top: 2px;
}
		
#text-volunteers-mobile .credits{
  column-count: 2;
}
.modal-dialog{
	margin: 0 auto 0 auto;
}
.modal-body{
	width: calc(100% + 30px);
	margin: 0;
}
.author-page-top-icons-desktop{
	display: none;
}
.author-page-top-icons-mobile{
	display: block;
	margin-right: auto;
}
	
.author-page-top-sort-desktop{
	display: none;
}

.author-page-top-sort-mobile{
	display: block;
	margin-right: 15px;
}
#sort_by_dd{
	display: none;
}
#current_sort_by{
	display: block;
	padding: 0 4px;
}
	.side-sort{
		display:none;
	}
	.author-side-sort{
		display: none;
	}
.author-sort-area{
	width: auto;
	padding: 0;
}
	#hide_next_times{
		display: none;
}
.sort-type .nested-list{
	  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
}
.select-all-with-buttons .headline-4-v02{
	display: none;
}
.list-filters{
		display: none;
}
.select-text ul li{
    line-height: 32px;
	height: 32px;
}
.mainlist ol > li {
	line-height: 32px;
}
.texts-list-top-info-card{
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding-left: 10px;
	padding-top: 4px;
}
.BYD-rights{
	display: none;
}
.author-page-top-rights{
	width: calc(50% - 40px);
  white-space: nowrap;
	margin-right: 0;
	display: inline-block;
 }
.author-page-top-info-card{
  padding: 3px 15px 3px 10px;
}
.value-summary-card-v02 {
  margin-left: 0px;
}
.by-dual-popup input[type=checkbox]{
	display: none;
}	
	
.by-dual-popup label{
	display: none;
}	
.topNavEntry{
	margin: 0 12px;
}
.texts-list-top-info-card .headline-3-v02{
	min-width: calc(50% - 38px);
	margin-left: 0;
}
	
}
