/* CSS Document */

@media only screen and (max-width: 399px) {
.top-element{
  margin-top: 80px;
  }
.byPeriod {
  width: 8%;
 }

.byPeriodTop-v02 {
  width: 26%;
}

.byPeriodbottom-v02 {
  width: 26%;
}

.firstPeriodBottom{
  margin-right: 8%;
}
	
	
.byPeriodName-v02{
		line-height: 12px;
	}
.byPeriodDetails-v02{
		line-height: 12px;
	}

#header > .row {
	margin-left: 0px;
	margin-right: 0px;
}
#footer{
	padding: 4px;
}
#footer .row {
	margin: 0;
}

.carousel-demo {
  width: calc(100% - 39px);
  height: 113px;
}
.carousel-arrow-right-v02 {
  width: 20px;
  height: 105px;
  font-size: 18px;
  padding-top: 45px; 
		padding-right: -4px;
	}
.carousel-arrow-left-v02 {
  width: 20px;
  height: 105px;
  font-size: 18px;
  padding-top: 45px;
	margin-right: 3px;
	padding-left: -4px;
	}
.author-info-v02 {
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 16px;
  top: 3px;
  left: 3px;
}
	
.author-card-v02{
	width: 60px;
    height: 113px;
	margin: 0 3px;
	}
.surprise-author-card-v02 {
    width: 60px;
    height: 113px;
    margin-left: 16px;
    margin-top: -3px; }
.about-author-card-v02 {
    width: 60px;
    height: 80px;
    margin-top: -3px; 
	}
.surprise-work-card-v02 {
    width: 60px;
    height: 113px;
    margin-top: -3px; 
	}

.surprise-author-card-bookmark-fold-v02 {
    width: 63px;
	height: 3px;
    margin-left: 16px;
    margin-top: -3px; 
	}
	
.about-author-card-bookmark-fold-v02 {
    width: 63px;
	height: 3px;
	margin-right: 12px;
    margin-top: -3px; 
	}
	
.author-pic-v02 {
    width: 60px;
    height: 80px; 
	}
	
.surprise-author-pic-v02 {
    width: 60px;
    height: 80px; }

.surprise-work-genre-v02 {
    width: 60px;
    height: 80px;
    padding-top: 20px; }
.author-name-v02 {
	font-size: 10px;
	line-height: 10px;}
	
.surprise-author-name-v02 {
	font-size: 10px;
	line-height: 10px;
	padding-top: 0;}

.by-genre-icon-surprise-v02 {
    font-size: 24px;
	line-height: 24px;
 }

.by-genre-name-v02{
		font-size: 16px;
		margin: 0;
	}
.headline-1-v02{
  font-size: 14px;
  line-height: 14px;
}
.headline-2-v02{
  font-size: 13px;
  line-height: 14px;
}
	
.byPeriodName-v02{
		font-weight: bold;
		font-size: 12px;
	}

.statistics-box-v02 {
    height: 34px;
    border-radius: 8px; }

.stat-big-v02 {
    font-size: 12px;
    font-weight: bold;
    line-height: 11px; }

.stat-small-v02 {
    font-size: 7px;
    line-height: 7px;
    margin-top: 2px; }
.logoBY-scroll-v02{
		padding-top: 6px;
	}
.by-icon-top-v02{
		font-size: 14px;
	line-height: 14px;
	}
.btn-small-outline-v02 {
  min-width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
   }
.top-search-mobile-v02 {
  margin-right: 2px;
}
.author-page-top-info-card{
  padding: 3px 6px;
}
.author-page-top-sort-mobile{
	margin-right: 0;
}
.btn-text-v02{
	padding: 0 6px;	
}
.work-info-card{
	min-height: 96px;
}
.by-popup-v02 {
  margin-top: 54px;
}
.work-page-top-info-card{
  padding-left: 8px;
  padding-right: 12px;
}
.icon-in-group-v02{
		margin-left: 4px;
}

.icon-in-group-v02 .by-icon-v02{
	  line-height: 12px;
}
	.work-chapters-dropdown-field{
	width: 48%;	
	}
	.field-v02 {
  padding: 0 4px;
}
body {
	font-size: 11px;
	line-height: 12px; 
}
.left-arrow {
  padding-right:3px;
  font-size: 9px;
}
	.right-arrow {
  padding-left:3px;
  padding-top: 1px;
  font-size: 9px;
}
	.right-side-icon{
		font-size: 9px;
	}

.author-page-top-icons-mobile{
	left: 12px;
	bottom: 0px;
}

.author-page-top-sort-mobile{
	left: 40px;
	bottom: 0px;
}
.author-name-years{
	margin-bottom: 2px;
	}
.breadcrumbs-arrow {
  font-size: 9px;
}
.dropdown-arrow{
	font-size: 9px;
	line-height: 28px;
}	
.by-icon-v02 {
  font-size: 12px; 
	vertical-align: middle;
}
.recommend-card-v02 {
  height: 110px;
}

.recommend-card-right-v02 {
  width: 88px;
 }
.recommend-card-pic-frame-v02{
  width: 48px;
  height: 48px;
  margin-right: 20px;
}
.recommend-card-pic-placeholder{
  font-family: ben-yehuda;
  font-size: 36px;
	line-height: 48px;
  height: 48px;
}
.iconNearText-v02{
  margin-left: 6px;
  vertical-align:middle; 
}
	.author-name-area{
		height: 33px;
	}
.author-page-content{
	margin-top: 178px;
}

	.text-page-content{
	margin-top: 166px;
}
	.about-page-content{
		margin-top: 112px;
	}
	.logoBY-v02 {
    max-width: 150px;
    max-height:54px;
    padding-right: 0px;
	padding-top: 2px;}
	
	.scrolled .logoBY-scroll-mobile-v02{
		position: fixed;
		left: calc(50% - 30px);
		width: 100px;
		top: 8px;
	}
		.scrolled .logoBY-scroll-mobile-v02 img{
    height: 24px;
}
	.author-page-top-rights{
	width: calc(50% - 29px);
 }
	.reading-mode-icon-btn-v02{
		padding: 0;
		line-height: 18px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 6px;
	}
	.by-icon-top-v02{
		line-height: 12px;
	}
	.top-search-icon-mobile-v02{
		padding-top: 0;
		text-align: center;
	}
	#moreMobile{
		padding-top: 0;
	}
	.work-page-top-author{
		width: calc(75% - 26px);
		min-height: 24px;
	}
		.work-page-top-icons-mobile{
	bottom: 2px;
}
	.print .col-12{
	padding-right: 15px;
	padding-left: 15px;
}
.print .author-page-content{
	margin-top: 0px;
}
.print .text-page-content{
	margin-top: 0px;
}
.collapse-expand-icon{
	padding-top: 0px;
	}
.rm-control-panel-mobile .rm-logo .logoBY-v02{
	width: 106px;
	margin-right: 6px;
}
.rm-control-panel-mobile .progress-area{
	padding-top: 0;
	margin-left: 0px;
	margin-right: 0px;
	}
.minimized .rm-control-panel-mobile{
	width: 120px;
	height: 28px;
}
	.share-option{
	padding-top: 14px 12px 0 12px;
}
.share-icon{
	font-size: 18px;
	line-height: 18px;
}
.share-name{
	padding-top: 8px;
}
	.by-dropdown-v02{
		height: 12px;
	}
	
}
