/* CSS Document */

@media screen and (max-width: 767px) {
	header.scrolled #top-bar {
		height: auto;
	}
	header.scrolled #top-bar .scrolled-top-row-v02 {
		display: none;
	}
	#header{
		width: 100%;
	}

.text-height-author {
  -webkit-line-clamp: 2;
  max-height: 40px;
}

.text-height-author-2 {
  -webkit-line-clamp: 8;
  max-height: 160px;
}


.byPeriod {
  width: 17%;
 }

.byPeriodTop-v02 {
  width: 21%;
}

.byPeriodbottom-v02 {
  width: 21%;
}

.firstPeriodBottom{
  margin-right: 2%;
}

.works-most-read{
  padding-right: 0;
  padding-left: 0;
}
.works-most-new{
  padding-right: 0;
  padding-left: 0;
  margin-top: 12px;
}
.surprise-author-left-side{
  margin-top: 0;
	}
	.author-page-top-name{
		line-height: 36px;
	}

	.print .col-12{
	padding-right: 60px;
	padding-left: 60px;
}
		.share-option{
	padding-top: 0px;
}
.by-card-header-v02 {
  width: 100%;
  padding: 15px;
  margin-right: 0px;
}



.bottom-button-area .close-btn{
	display: none;
}
	.top-contact-center{
		padding-left: 6px;
		padding-right: 6px;
	}
	.top-contact-center .headline-1-v02{
		margin-left: 0;
	}
	.top-contact-center .headline-3-v02{
		padding-left: 0;
		text-align: center;
		margin-bottom: 0;
	}
	.top-contact-side{
		width: 80px;
		padding: 0;
	}
#contact-select-issue{
	width: 130px;
	margin-left: 15px;
}
#contact-text{
	width: calc(100% - 145px);
}
#contact-text .text-area-field{
		height: calc(100% - 52px);
}	
	.contact-select-issue-desktop{
	display: none;
}
.contact-select-issue-mobile{
	display: block;
}
.anthology-top{
  position: static;
  width: calc(100% + 30px);
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0px;
  padding-right: 0px;
}
.anthology {
  width: calc(100% + 30px);
  height: 100%;
  box-shadow: none;
  position: static;
  left: 0;
  margin-top:0px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: solid 2px #d9cdd5;
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
}
	.anthology-select-desktop{
	display: none;
}
.anthology-select-mobile{
	display: block;
}
#volunteer-popup{
	max-width:calc(100% + 30px);
}
#texts-about-author-popup{
	    background-color: #eeeced;
	}
#author-whats-new-popup{
	    background-color: #eeeced;
	}
.sort-by-desktop{
	display: none;
}
.author-side-sort{
  display:none;
}
.author-mobile-filters-area .headline-2-v02{
		display: inline;
	}
.sticky-top{
  position: sticky;
  top:0;
  z-index: 30;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	}
.sticky-bottom{
  position: sticky;
  bottom:0;
  z-index: 30;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.4);
  background-color: #d9cdd5;
	}
.internal-notification .popup-x-v02{
  display: block;
}
.internal-notification-content{
  display: block;
  padding-bottom: 6px;
}
.internal-notification-pic{
  display: flex;
	justify-content: center;
	margin-bottom: 4px;
}
.internal-notification-text{
	text-align: center;
}
.scrolled .logoBY-scroll-mobile-v02 img{
    max-height: 32px;
	margin-top: 2px;
}

	#hide_next_times{
		display: none;
}
.sort-type .nested-list{
	  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
}
.select-all-with-buttons .headline-4-v02{
	display: none;
}
.list-filters{
		display: none;
}
.select-text ul li{
    line-height: 32px;
	height: 32px;
}
.texts-list-top-info-card{
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding-left: 10px;
	padding-top: 4px;
}
	.surprise-author-card-content-v02{
		width: calc(100% - 85px);
		    max-height: calc(100vh - 165px);
	}
		.surprise-work-card-content-v02{
		width: calc(100% - 147px);
		    max-height: calc(100vh - 165px);
	}
	
	
	.surprise-author-card-content-v02 {
  width: calc(100% - 163px);
	}

	.flash-author-popup-v02 .by-card-content-v02{
		height: calc(100vh - 182px);
		max-height: calc(100vh - 182px);
		overflow-y: auto;
	}
	
.lexicon-author-nav-links.topNavEntry {
    margin: 0;
}
	.topNavEntryArea .headline-1-v02 {
    margin-right: 5px;
    margin-left: 5px;
}	
.yiddish-list .texts-list-top-info-card{
		padding-left: 15px;
		padding-top: 15px;
		gap: 10px;
	}
	.donation-top-baner .by-card-content-v02{
		width: 100%;
	}
	.donation-background-image{
		background-image: none;
	}
}
