/* CSS Document */

@media only screen and (max-width: 991px) {

.scrolled .logoBY-scroll-mobile-v02{
		position: absolute;
		right: calc(100% - 110px);
	}
.scrolled .logoBY-scroll-mobile-v02 img{
    max-height: 32px;
	margin-top: 2px;
}
	.author-name-years{
		display: block;
	}

	.author-page-top-years{
		vertical-align: text-bottom;
	}



	.top-row-v02{
	display: none;
}
	.header-bottom-row-v02{
		padding-top: 4px;
	}
	.top-donation-desk-area-v02 {
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 0;
  padding-right: 0;
}
	.donation-area-v02{
		display: none;
	}
	.logoBY-scroll-mobile-v02{
		display: none;
		margin-left: auto;
		margin-right: auto;
	}
	#whats-new-bg {
  background-image: url("/assets/bullhorn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%; 
  height:auto;}


	.flash-work-v02 {
  min-height: 400px;
	}
.flash-author-v02 {
 min-height: 400px;
	}
	.flash-bg-v02 {
    height: auto;}

	#volunteer-bg {
  background-image: url("/assets/giving hand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: auto;
  width: 100%; }


	
	.carousel-demo {
  width: calc(100% - 50px);
  height: 231px;
}
	.carousel-arrow-right-v02 {
  width: 20px;
  height: 231px;
  font-size: 21px;
  padding-top: 105px; 
  margin-right: -4px;
	}
.carousel-arrow-left-v02 {
  width: 20px;
  height: 231px;
  font-size: 21px;
  padding-top: 105px;
	margin-right: 8px;
	margin-left: -4px;
	}




	
	
.author-card-v02{
	width: 132px;
    height: 231px;
	margin: 0 8px;
}
.surprise-author-card-v02 {
    width: 132px;
    height: 231px;
    margin-top: -5px; }
.about-author-card-v02 {
    width: 132px;
    height: 190px;
    margin-top: -5px; }

  .surprise-work-card-v02 {
    width: 132px;
    height: 231px;
    margin-top: -5px; }

.surprise-author-card-bookmark-fold-v02 {
  width: 139px;
  height: 5px;
  margin-right: 8px;
  margin-top: -5px;
 }
.about-author-card-bookmark-fold-v02 {
  width: 139px;
  height: 5px;
  margin-right: 8px;
  margin-top: -5px;
  z-index: 1; }

.author-pic-v02 {
    width: 132px;
    height: 190px; }


	
  .surprise-author-pic-v02 {
    width: 132px;
    height: 190px; }

  .surprise-work-genre-v02 {
    width: 132px;
    height: 190px;
    padding-top: 48px; }
	.author-name-area{
		height:41px;
	}
.surprise-author-name-v02{
	padding-top: 0;
	}
 #header-general {
    width: 100%;
 }
#header-author {
    width: 100%;
 }
#header-text {
    width: 100%;
 }

#header-BYD {
  width: 100%;
}	
	
  #content {
    width: 100%;
    height: auto; }

  #project-finance-support {
    width: 90%; }
.top-logo-row-v02{
	display: none;
}
  .logoBY-v02 {
    max-width: 250px;
	  max-height:62px;
    padding-right: 0px;
	padding-top: 6px;}
	.logoBY-scroll-v02 {
		margin-top: 0;
  max-width: 160px;
  padding-right: 0px; }



  .statistics-box-v02 {
    word-break: break-all;
    height: 52px;
    border-radius: 12px;
    margin-right: 0px; }

  .stat-big-v02 {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px; }

  .stat-small-v02 {
    font-size: 11.8px;
    line-height: 11px;
    margin-top: 4px; }

  .top-btn-group-v02 {
    display: none; }

  #menu {
    display: none; }

  .menuButton-v02 {
    display: block; }

	.top-logo-scroll-mobile{
	display: inline-block;
}

  .empty {
    display: none; }

  .top-search-box-v02 {
    display: none; }

  .topMobileBtns-v02 {
    display: flex;
	align-items: center;
    float: left; 
	margin-left: 10px;
	margin-top: 4px;}



  #works-in-project {
    height: auto;
  }


  #genre {
    display: none; }

  #genre-mobile {
    display: block; }

  .top-works {
    max-height: none; }


.side-menu-area{
	-ms-flex: 0 0 50px;
    flex: 0 0 50px;
	  padding-left:0;
	}

.nav{
	width: 34px;
	}
.side-menu-area-left{
	display: block;
	-ms-flex: 0 0 50px;
    flex: 0 0 50px;
	padding-left:0;
	}
	.about-page-content .side-menu-area{
		display: none;
	}
	.about-page-content .side-menu-area-left{
		display: none;
	}
	#header-about #aboutnav{
		display: none;
	}
#header-about .error-found-row{
		display: none;
	}

	
.side-menu{
    -ms-flex: 0 0 34px;
    flex: 0 0 34px;
	}
.nav-link{
	height:34px;
	width:34px;
	padding:8px;
}
.side-menu-icon{
	font-size:18px;
	line-height: 18px;
}
.side-menu-name{
  display: none;
}
.nav-link-edit{
  display: block;
}
.error-found-col{
	padding-left: 15px;
	padding-right: 0;
}
.top-element {
  margin-top: 100px;
}
.work-side-menu-area{
display: none;	}

.work-side-menu-area-left{
	display: none;
	}
.work-side-menu{
	display: none;
}
	.work-info-card{
	min-height: 142px;
}
.work-page-top-icons-desktop{
	display: none;
	float: left;
}
.work-page-top-icons-mobile{
	display: flex;
	align-items: center;
	float: left;
}

.popup-x-v02 {
  width: 30px;
}

.author-page-top-rights{
	width: calc(50% - 84px);
  white-space: nowrap;
	margin-right: 0;
	display: inline-block;
 }

.by-side-menu-seperator{
  display: block;
}
.by-genre-icon-surprise-v02{
  font-size: 66px;
  line-height: 66px;
}

.about-work-card-bookmark-fold-v02 {
  width: 101px;
  height: 5px;
  margin-right: 10px;
}
		
.about-work-author-card-v02 {
  width: 96px;
  height: 138px;
}
.about-work-author-pic-v02 {
  width: 96px;
  height: 138px;
}
	.whats-new-content{
	  height: auto;
}
	.works-in-project-content{
	height: auto;
}
.volunteer-content{
	height: auto;
}
.flash-content{
	height: auto;
}




.mobile-work-details{
  display: block;
}
.volunteer-v02 {
  min-height: auto;
}
.card-with-bottom-links{
	padding-bottom: 50px;
	max-height: calc(100% - 50px);
}
.link-to-all-v02 {
  line-height: 28px;
  }
.right-side-icon{
	line-height: 28px;
	}
	.by-button-v02{
		height: 28px;
	}
	.mobileLogo{
    display:block;
  }

	.surprise-btn-v02 {
  width: 160px;
  height: 50px; }
	
	.author-page-content{
	margin-top: 215px;
}
.text-page-content{
	margin-top: 214px;
}
	.about-page-content{
		margin-top: 133px;
	}

	.nav-chapter-name{
	width: 84px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	justify-content:flex-start;
}
	.side-menu-headline{
		display: none;
	}
	#chapternav{
		display: none;
	}
	#text-nav-more{

	}
	
	.work-page-top-author{
		display: block;
	}
	.reading-mode .rm-control-panel{
		display: none;
	}
	.rm-control-panel-mobile{
	display: flex;
	align-items: center;
	width: calc(100% - 60px);
	position:fixed;
	top: 30px;
	margin: 0 15px;
	z-index: 10;
	}
.rm-control-left{
	padding: 10px;
  border-right: solid 2px #d9cdd5; 
}
.rm-control-panel-mobile .rm-logo .logoBY-v02{
	width: 160px;
	margin-right: 10px;
}
.rm-control-right .by-dropdown-v02{
  left: 40px;
}
.rm-control-panel-mobile .progress-area{
	width: 75%;
	height: 18px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 2px;
	}
	.reading-mode #actualtext{
	margin-top: 60px;
}
	.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.caret::before {
  content: "\25C0";
  font-size: 12px;
  color: #660248;
  display: inline-block;
  margin-left: 6px; }

.caret-down::before {
  content: "\25BC";
  font-size: 12px; }

.topMenuItemMobile-v02 .nested a {
  background-color: #ffffff;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px; }

.topMenuItemMobile-v02 .nested a:hover {
  background-color: #eeeced; }

.nested-mo-nav {
  padding-right: 0;
  display: none; }

.nested-mo-nav a {
  background-color: #ffffff;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px; }

.nested-mo a:hover {
  background-color: #eeeced; }
	
.active {
  display: block;
  padding-right: 0; }
	
.about-page-content .nested-mo a {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }
	
	#moreMobile{
		margin-right: 6px;
	}
.by-dropdown-v02#moreMobile{
		height: 18px;
	}
	.by-dropdown-v02#text-moreMobile{
		height: 18px;
	}
.bookmark-location{
  position: relative;
  margin-top: 0;
  top: -6px;
  left: 0;
}
.progress-outside{
	margin-top: 0;
}
.advanced-pagination .progress-outside{
	margin-top: 6px;
}
.rm-control-left{
	padding: 12px 10px;
}
.rm-control-left .by-icon-v02{
	font-size: 24px;
	line-height: 24px;
}
.rm-control-panel-mobile #text-nav-more{
	padding-left: 6px;
}
.bookmark-icon{
  height: 18px;
  font-size:18px;
  line-height: 18px;
  margin-right: -5px;
  font-family: ben-yehuda;
}
.bookmark-triangle{
	width:0;
	height: 0;
    border-top: solid 4px transparent;
	border-right: solid 3px transparent;
	border-bottom: solid 4px #242424;
    border-left: solid 3px transparent;
	margin-top: -3px;
	margin-right:1.5px;
}	
.rm-control-panel-mobile .progress-number{
	padding-top: 1px;
}
.search-icon-v02 {
  line-height: 26px;
 }
	#volunteer-general{
		display: none;
	}
	
.vertical-expand-mo::before {
  display: inline-block;
 }
.vertical-collapse-mo::before {
  display: inline-block;
}
.about-card-header .headline-1-v02{
		margin-right: 24px;
		margin-bottom: 0px;
	}
	
.about-card-header .vertical-expand-mo{
	display: block;
	position: relative;
	top: -18px;
	bottom: 0;
	right: 0;
}
	#nav-more a{
		color: #ffffff;
	}
	#nav-more a:hover{
		color: #d9cdd5;
	}
.scrolled .second-header-row{
  margin-top: 0px;
}
.scrolled-logoBY-v02{
	content: url("/assets/logo-byp-white.svg");
}
#text-volunteers-desktop{
  display:none;
}
#text-volunteers-mobile{
  display: block;
}

.work-col{
	width: 100%;
}
.reading-mode-btn-v02{
	display: none;
}
	.work-chapters-dropdown-field-desktop{
	display: none;
}
	.work-chapters-popup-mobile{
	display: inline;
}
.list-filters{
		display: none;
}
.BYD-welcome{
		display: none;
}
.advanced-pagination{
		display: none;
}
.advanced-pagination-area{
	display: flex;
   justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
	margin-left:0px;
	margin-bottom: 10px;
	max-width: 560px;	
}
.pageSelectorArea{
	width: calc(100% - 100px);
	display: flex;
	align-items: center;
}
.pageSelector{
	margin-right: auto;
	margin-left: auto;
		display: flex;
		align-items: center;
	font-size: 11pt;
}
.pageSelector .field-v02{
	width: 40px;
	margin-right: 8px;
	margin-left: 8px;
}
.a-b-pagination-frame{
	width: 100%;
	margin-left: 0px;
	max-width: 560px;
	height: 28px;
	margin-bottom: 12px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: solid 1px #907989;
	padding: 0 2px;
}
.a-b-pagination-frame a{
	flex-grow: 1;
	font-size: 14pt;
	text-align: center;
	line-height: 24px;
	padding: 0px 8px 2px 7px;
}

#entryNav{
		display: none;
	}
.BYD-entry-top{
	padding-left: 10px;
}
.missingValues_desktop{
		display:none;
	}
.missingValues_mobile{
		display:inline-block;
			margin-right: 2px;
	}
.topNavEntryArea{
	padding-right: 18px;
}
.entry-page-top-info-card .BYD-rights{
	display: none;
}
	.topNavEntryAreaDesktop{
	display: none;
}
	.topNavEntryAreaMobile{
	display: flex;
}
	
	.surprise-author-card-content-v02 {
  margin-right: 147px;
	}
		.surprise-work-card-content-v02 {
  margin-right: 147px;
	}
	.whats-new-v02{
		height: auto;
	}
	
	.limited-height-popup-content-v02{
		max-height: 100%;
	}	
	#authors-surprise-replaced{
		height: auto;
	}
	.surprise-again-footer-v02{
		position: relative;
	}
	.surprise-work-height-v02{
		padding-bottom: 15px;
	}
	#works-surprise-replaced{
		height: auto;
	}
#works-surprise-replaced .by-card-header-v02{
			padding-right: 162px;
	}
	.btn-small-outline-v02{
		height: 28px;
	}
	#authors-surprise-replaced .by-card-header-v02{
	padding-right: 162px;
}
#whats-new-author-popup .by-card-header-v02{
	padding-right: 162px;
}
#author-info-popup .by-card-header-v02{
	padding-right: 162px;
}
	
	
}





