// Place all the styles related to the Crowd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.white_input{
  background-color: white;
}
.for_pasting {
  font-size: 16pt;
}
.se_input {
  background-color: white;
  width: 80%;
}