// Place all the styles related to the HtmlFile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
margin: 1px;
color: #dafada;
padding: 3px 10px;
cursor: pointer;
position: relative;
background-color:#c30;
}
.content {
padding: 5px 10px;
background-color:#fadafa;
}
p { padding: 5px 0; }

