// Place all the styles related to the HtmlFile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
margin: 1px;
color: #dafada;
padding: 3px 10px;
cursor: pointer;
position: relative;
background-color:#c30;
}
.content {
padding: 5px 10px;
background-color:#fadafa;
}
.markdown { box-sizing: border-box;flex-grow:2;height:100%}
.textarea100 { box-sizing:border-box; height:auto; width:100%;}
//p { text-align:right; direction:rtl; font-family:"Alef", "serif"; font-size:1em; padding: 0px 0; margin: 6px 2px; text-indent: 50px; }
//p { text-align:right; direction:rtl; font-family:"Times New Roman", "serif"; font-size:12pt; padding: 0px 0; margin: 6px 2px; text-indent: 50px; }
h1 { text-align:right; direction:rtl; }
h2 { text-align:center; direction:rtl; }
h3 { text-align:right; direction:rtl; }
pre { text-align:right; direction:rtl; font-family:"Alef"; font-size:1.4em; background-color: transparent; border: none; word-wrap: normal; white-space: pre-wrap; }
code { text-align:right; direction:rtl; font-family:"Alef"; font-size:1.4em; word-wrap: normal; white-space: pre-wrap; }
blockquote { text-align:right; direction:rtl; font-family:"Alef"; font-size:1.4em; word-wrap: normal; line-height: normal; }
blockquote p { text-indent: 0px; }
.border1px {
  table, td, th { border:1px solid; }
  table { border-collapse:collapse; border-spacing:0; }
  td, th { padding:10px; border-spacing:0; }
}
th {text-align: right; direction: rtl;}
