// Place all the styles related to the HtmlFile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
margin: 1px;
color: #dafada;
padding: 3px 10px;
cursor: pointer;
position: relative;
background-color:#c30;
}
.content {
padding: 5px 10px;
background-color:#fadafa;
}
p { text-align:right; direction:rtl; padding: 5px 0; }
h1 { text-align:right; direction:rtl; }
h2 { text-align:right; direction:rtl; }
h3 { text-align:right; direction:rtl; }
pre { text-align:right; direction:rtl; font-family:David, David CLM; font-size:14pt; }
code { text-align:right; direction:rtl; font-family:David, David CLM; font-size:14pt; }

.border1px {
  table, td, th { border:1px solid; }
  table { border-collapse:collapse; border-spacing:0; }
  td, th { padding:10px; border-spacing:0; }
}
