// Place all the styles related to the Manifestation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  text-align: right;
}
.metadata {
  padding-right:1em;
}

.metadata_row {
  font-size:1.3em;
  padding-bottom:0.2em;
}
.maintext-prose-body img {
  max-width: 100%;
  display:block;
  margin:auto;
}
.maintext-poetry-body img {
  max-width: 100%;
  display:block;
  margin:auto;
}
.maintext-prose-body p {
  font-family:"Alef"; font-size:1.2em;
}

.maintext-poetry-body p {
  font-family:"Alef"; font-size:1.5em;
}
/*
#toolbox{
  border:1px solid black;
  float:right;
  position:absolute;
  z-index:1;
  //margin-right:-100px;
}*/

.readmode_title {
  font-size: 2.5rem;
}
.readmode_author {
  font-size: 1.8rem;
}

.markdown_editbox {
  font-size: 1.9rem;
}

.dd-option-image {
  max-width: 150px !important;
}

.read_html img {
  max-width: 100%;
  display:block;
  margin:auto;
}

// for direct upload stuff
/* direct_uploads.css */

.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}