// Place all the styles related to the Manifestation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  text-align: right;
}
.metadata {
  padding-right:1em;
}

.metadata_row {
  font-size:1.3em;
  padding-bottom:0.2em;
}
.maintext {
}
.maintext-prose-body {
/*  width:70%;
  margin:auto;*/
}
.maintext-prose-body p {
font-family:"Alef"; font-size:1.2em;
  margin-right: 100px;
}

.maintext-poetry-body {
}

.maintext-poetry-body p { font-family:"Alef"; font-size:1.5em;
  margin-right: 150px;
}
/*
#toolbox{
  border:1px solid black;
  float:right;
  position:absolute;
  z-index:1;
  //margin-right:-100px;
}*/

.readmode_title {
  font-size: 2.5rem;
}
.readmode_author {
  font-size: 1.8rem;
}

.markdown_editbox {
  font-size: 1.9rem;
}
