// Place all the styles related to the Manifestation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.metadata {
  padding-right:1em;
}

.metadata_row {
  font-size:1.3em;
  padding-bottom:0.2em;
}
