// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured_item {
  background-color: #d2cfcf;
}

.author-pic {
  padding-left: 5px;
}
.whatsnew-content {
  padding: 1.4rem 1.6rem 1.6rem 1.6rem;
  font-size: 1.2rem;
}
