$(".tags-area").append("<div class=\"tags pending\"><div class=\"by-icon-v02 pending-tag\" title=\"<%= t(:awaiting_approval) %>\">L</div><%= j(link_to @t.tag.name, tag_path(@t.tag.id)) %> <%= escape_javascript(link_to '×', @t, remote: true, method: :delete) %></div>");
$('#generalDlg').modal('hide');
