%div#suggestion_heuristics
  %ul{style: 'display: flex; flex-wrap: wrap;font-size:80%'}
    - @tag_suggestions.keys.each do |key|
      %li
        %a{href: '#'+key.to_s}
          .heuristic-label= t(key)

  - @tag_suggestions.each_pair do |heuristic, tags|
    .list-group.scrolling-200-list{style: 'margin-bottom: 20px;', id: heuristic.to_s}
      - tags.each do |tag|
        %button.pointer.list-group-item.indented{style: 'padding: 0.5rem 0.75rem;', id: tag.id}
          = tag.name

:javascript
  $(document).ready(function() {
    $('.suggested-tags-list .list-group-item').click(function(e) {
      e.preventDefault();
      $('#tag_id').val($(this).attr('id'));
      $('#tag').val($(this).text());
      $('#tag').change();
    });
    $('#suggestion_heuristics').tabs();
  });
