- @tag_suggestions.each_pair do |heuristic, tags|
  .list-group{style: 'margin-bottom: 20px;'}
    - heuristic_label = t(heuristic)
    %h3= heuristic_label
    - tags.each do |tag|
      %button.pointer.list-group-item.indented{style: 'padding: 0.5rem 0.75rem;', id: tag.id}
        = tag.name